Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

Apply dependency sync
  go.work.sum
Labels: none

update
  core/codegen/field/field.url.go
  examples/basic/gen/som/where/node.user.go
  examples/testing/gen/som/by/node.url_example.go
  examples/testing/gen/som/conv/node.url_example.go
  examples/testing/gen/som/node.url_example.go
  examples/testing/gen/som/query/node.url_example.go
  examples/testing/gen/som/relate/node.url_example.go
  examples/testing/gen/som/som.interfaces.go
  examples/testing/gen/som/som.schema.go
  examples/testing/gen/som/where/node.url_example.go
  examples/testing/gen/som/with/node.url_example.go
  examples/testing/model/url_example.go
  examples/testing/som_test.go
Labels: cc | test

Apply dependency sync
  go.work.sum
Labels: none

wip
  core/codegen/build.query.go
  core/embed/lib/builder.query.go
  core/embed/query/query.go
  examples/basic/gen/som/internal/lib/builder.query.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/query/query.go
  examples/movie/gen/som/internal/lib/builder.query.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/query/query.go
  examples/testing/gen/som/internal/lib/builder.query.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
  examples/testing/gen/som/query/query.go
Labels: none

fixup
  core/embed/som/som.client.go
  core/embed/som/som.database.go
  examples/basic/gen/som/som.client.go
  examples/basic/gen/som/som.database.go
  examples/movie/gen/som/som.client.go
  examples/movie/gen/som/som.database.go
  examples/testing/gen/som/som.client.go
  examples/testing/gen/som/som.database.go
  sdbc/client_test.go
Labels: cc | test

update
  core/codegen/build.query.go
  core/embed/query/query.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/query/query.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/query/query.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
  examples/testing/gen/som/query/query.go
  examples/testing/som_test.go
Labels: cc | test

feat: optimise sdbc close handling
  sdbc/client.go
  sdbc/client_test.go
  sdbc/methods.go
  sdbc/response.go
Labels: cc | test

update
  sdbc/client.go
  sdbc/methods.go
  sdbc/response.go
Labels: none

feat: optimise sdbc close & cleanup handling (#191)
  sdbc/client.go
  sdbc/client_test.go
  sdbc/methods.go
  sdbc/response.go
Labels: cc | test

cleanup
  core/codegen/build.query.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
Labels: none

linter fix
  core/codegen/build.query.go
Labels: none

cleanup
  core/embed/query/query.go
  sdbc/methods.go
  sdbc/response.go
Labels: none

fixup
  examples/basic/gen/som/query/query.go
  examples/movie/gen/som/query/query.go
  examples/testing/gen/som/query/query.go
  go.work
Labels: none

fixup
  .github/workflows/conventional_commits.yml
  .github/workflows/pull_request.yml
Labels: cc | ci

wip
  core/codegen/field/field.time.go
Labels: none

wip
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.struct.go
  core/embed/conv/conv.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/edge.group_member.go
  examples/basic/gen/som/conv/node.group.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/conv/object.group_member_meta.go
  examples/basic/gen/som/conv/object.login.go
  examples/basic/gen/som/conv/object.some_struct.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/relate/edge.group_member.go
  examples/movie/gen/som/conv/conv.go
  examples/movie/gen/som/conv/edge.acted_in.go
  examples/movie/gen/som/conv/edge.directed.go
  examples/movie/gen/som/conv/node.movie.go
  examples/movie/gen/som/conv/node.person.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/relate/edge.acted_in.go
  examples/movie/gen/som/relate/edge.directed.go
  examples/testing/gen/som/conv/conv.go
  examples/testing/gen/som/conv/node.fields_like_db_response.go
  examples/testing/gen/som/node.fields_like_db_response.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
Labels: none

refactor: let conv functions use pointers (#198)
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.struct.go
  core/embed/conv/conv.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/edge.group_member.go
  examples/basic/gen/som/conv/node.group.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/conv/object.group_member_meta.go
  examples/basic/gen/som/conv/object.login.go
  examples/basic/gen/som/conv/object.some_struct.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/relate/edge.group_member.go
  examples/movie/gen/som/conv/conv.go
  examples/movie/gen/som/conv/edge.acted_in.go
  examples/movie/gen/som/conv/edge.directed.go
  examples/movie/gen/som/conv/node.movie.go
  examples/movie/gen/som/conv/node.person.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/relate/edge.acted_in.go
  examples/movie/gen/som/relate/edge.directed.go
  examples/testing/gen/som/conv/conv.go
  examples/testing/gen/som/conv/node.fields_like_db_response.go
  examples/testing/gen/som/node.fields_like_db_response.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
Labels: none

fix: enum & struct fields handling
  core/codegen/field/field.enum.go
  core/codegen/field/field.slice.go
  examples/basic/gen/som/by/node.user.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/som.schema.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/model/user.go
Labels: none

fix: enum & struct fields handling (#199)
  core/codegen/field/field.enum.go
  core/codegen/field/field.slice.go
  examples/basic/gen/som/by/node.user.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/som.schema.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/model/user.go
Labels: none

fix live delete response
  core/codegen/build.query.go
  core/embed/query/query.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/query/query.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/query/query.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
  examples/testing/gen/som/query/query.go
  examples/testing/som_test.go
Labels: cc | test

feat: add support for surrealdb beta.11
  core/codegen/field/field.uuid.go
  docker-compose.yml
  examples/basic/gen/som/som.schema.go
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/som_test.go
  sdbc/client_test.go
Labels: cc | test

feat: add support for surrealdb beta.11 (#200)
  core/codegen/field/field.uuid.go
  docker-compose.yml
  examples/basic/gen/som/som.schema.go
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/som_test.go
  sdbc/client_test.go
Labels: cc | test

add (reverse) test for live query with filter
  core/codegen/build.query.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
  examples/testing/som_test.go
Labels: cc | test

feat: add support for live queries (#167)
  .gitattributes
  core/codegen/base.builder.go
  core/codegen/build.query.go
  core/embed/lib/builder.query.go
  core/embed/query/query.go
  core/embed/som/som.client.go
  core/embed/som/som.database.go
  examples/basic/gen/som/internal/lib/builder.query.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/query/query.go
  examples/basic/gen/som/som.client.go
  examples/basic/gen/som/som.database.go
  examples/basic/go.sum
  examples/movie/gen/som/internal/lib/builder.query.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/query/query.go
  examples/movie/gen/som/som.client.go
  examples/movie/gen/som/som.database.go
  examples/testing/gen/som/internal/lib/builder.query.go
  examples/testing/gen/som/node.fields_like_db_response.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
  examples/testing/gen/som/query/query.go
  examples/testing/gen/som/som.client.go
  examples/testing/gen/som/som.database.go
  examples/testing/som_test.go
  go.work.sum
  sdbc/methods.go
  sdbc/response.go
Labels: cc | test

docs: update readme
  README.md
Labels: cc | docs

ci: refine pr workflow
  .github/workflows/pull_request.yml
Labels: cc | ci

docs: update readme (#201)
  README.md
Labels: cc | docs

update
  .github/workflows/pull_request.yml
Labels: cc | ci

ci: refine pr workflow (#202)
  .github/workflows/pull_request.yml
Labels: cc | ci

wip
  core/codegen/field/field.duration.go
  core/embed/conv/conv.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/som.schema.go
  examples/basic/som_test.go
  examples/movie/gen/som/conv/conv.go
  examples/testing/gen/som/conv/conv.go
Labels: cc | test

wip
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/som_test.go
Labels: cc | test

move sdbc files to new repo
  sdbc/client.go
  sdbc/client_test.go
  sdbc/methods.go
  sdbc/options.go
  sdbc/response.go
  sdbc/stores.go
  sdbc/types.go
Labels: cc | test

update path to sdbc package
  core/embed/som/som.client.go
  core/embed/som/som.database.go
  examples/basic/gen/som/som.client.go
  examples/basic/gen/som/som.database.go
  examples/movie/gen/som/som.client.go
  examples/movie/gen/som/som.database.go
  examples/testing/gen/som/som.client.go
  examples/testing/gen/som/som.database.go
Labels: none

update go.mod requires
  Taskfile.yml
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/conv/object.some_struct.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/gen/som/where/object.some_struct.go
  examples/basic/go.mod
  examples/basic/go.sum
  examples/movie/go.mod
  examples/movie/go.sum
  examples/testing/go.mod
  examples/testing/go.sum
  go.work.sum
Labels: none

fix workflow
  .github/workflows/pull_request.yml
Labels: cc | ci

cleanup
  .github/workflows/pull_request.yml
  README.md
Labels: cc | ci, cc | docs

refactor: move sdbc code to own repo (#203)
  .github/workflows/pull_request.yml
  README.md
  Taskfile.yml
  core/embed/som/som.client.go
  core/embed/som/som.database.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/conv/object.some_struct.go
  examples/basic/gen/som/som.client.go
  examples/basic/gen/som/som.database.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/gen/som/where/object.some_struct.go
  examples/basic/go.mod
  examples/basic/go.sum
  examples/movie/gen/som/som.client.go
  examples/movie/gen/som/som.database.go
  examples/movie/go.mod
  examples/movie/go.sum
  examples/testing/gen/som/som.client.go
  examples/testing/gen/som/som.database.go
  examples/testing/go.mod
  examples/testing/go.sum
  go.work.sum
  sdbc/client.go
  sdbc/client_test.go
  sdbc/methods.go
  sdbc/options.go
  sdbc/response.go
  sdbc/stores.go
  sdbc/types.go
Labels: cc | ci, cc | docs, cc | test

update go version in readme
  README.md
Labels: cc | docs

Update docs/ideas.md
  docs/ideas.md
Labels: cc | docs

wip
  examples/basic/som_test.go
Labels: cc | test

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
