Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

chore: new logo
  .github/branding/logo.png
Labels: cc | ci

chore: new logo (#320)
  .github/branding/logo.png
Labels: cc | ci

docs: update readme
  README.md
  go.mod
  go.work
Labels: cc | build, cc | docs

test: run against surrealdb 2.1.2
  .tool-versions
  internal/tests/.tool-versions
  internal/tests/basic/.tool-versions
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

update
  go.mod
  internal/tests/basic/go.mod
Labels: cc | build

update
  .tool-versions
  go.work
  internal/tests/.tool-versions
  internal/tests/basic/.tool-versions
Labels: none

fix
  go.work
Labels: none

fix: testcontainers terminate does not ignore unnecessary error
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

update
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

fix: testcontainers terminate does not ignore unnecessary error (#323)
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

fixups & surrealdb v2.1.3
  compose.yml
  core/codegen/base.builder.go
  core/embed/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/schema/tables.surql
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

feat: support for surrealdb 2.0 (#321)
  compose.yml
  core/codegen/base.builder.go
  core/embed/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/schema/tables.surql
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

feat: require sdbc v0.9.0
  core/util/gomod/mod.go
  go.mod
  go.sum
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: cc | build

chore: prepare release v0.7.0
  README.md
  core/util/gomod/mod.go
  go.mod
  internal/tests/basic/go.mod
Labels: cc | build, cc | docs

chore: require sdbc v0.9.0 (#326)
  core/util/gomod/mod.go
  go.mod
  go.sum
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: cc | build

deps cleanup
  go.mod
  go.sum
  go.work.sum
  internal/tests/basic/go.sum
Labels: cc | build

chore: prepare release v0.7.0 (#327)
  README.md
  core/util/gomod/mod.go
  go.mod
  go.sum
  go.work.sum
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: cc | build, cc | docs

update
  core/codegen/field/field.node.go
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/internal/lib/filter.string.go
  core/generate.go
  docs/ideas.md
Labels: cc | docs

fix
  core/codegen/base.builder.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.node.go
  internal/tests/basic/gen/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/internal/lib/filter.string.go
  internal/tests/basic/gen/som/schema/tables.surql
Labels: none

feat: db 2.0 enforced relations, enum string literals & more funcs (#328)
  core/codegen/base.builder.go
  core/codegen/build.filter.go
  core/codegen/field/field.enum.go
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/internal/lib/filter.base.go
  core/embed/som/internal/lib/filter.bool.go
  core/embed/som/internal/lib/filter.slice.go
  core/embed/som/internal/lib/filter.string.go
  core/embed/som/internal/lib/filter.time.go
  core/generate.go
  docs/ideas.md
  internal/tests/basic/gen/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/internal/lib/filter.base.go
  internal/tests/basic/gen/som/internal/lib/filter.bool.go
  internal/tests/basic/gen/som/internal/lib/filter.slice.go
  internal/tests/basic/gen/som/internal/lib/filter.string.go
  internal/tests/basic/gen/som/internal/lib/filter.time.go
  internal/tests/basic/gen/som/schema/tables.surql
Labels: cc | docs

test: run against surrealdb 2.1.4
  README.md
  compose.yml
  internal/tests/basic/som_prepare_test.go
Labels: cc | docs, cc | test

test: run against surrealdb 2.1.4 (#331)
  README.md
  compose.yml
  internal/tests/basic/som_prepare_test.go
Labels: cc | docs, cc | test

go1.23.7
  .tool-versions
  internal/tests/.tool-versions
  internal/tests/basic/.tool-versions
Labels: none

update
  README.md
  internal/tests/basic/som_prepare_test.go
Labels: cc | docs, cc | test

wip
  README.md
  exp/.tool-versions
  exp/def/type.base.go
  exp/def/type.ident.go
  exp/def/type.struct.go
  exp/go.mod
  exp/main.go
  exp/model/user.go
  exp/parser/parse.struct_type.go
  exp/parser/parse.type_spec.go
  exp/parser/parser.go
  go.work
  internal/tests/basic/som_base_test.go
Labels: cc | docs, cc | test

update
  .github/workflows/pull_request.yml
  .golangci.yml
Labels: cc | ci

fix
  .github/workflows/pull_request.yml
Labels: cc | ci

cleanup
  go.mod
  go.sum
  go.work.sum
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: cc | build

update
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

chore: update required sdbc version to v0.9.2
  core/util/gomod/mod.go
Labels: none

chore: update required sdbc version to v0.9.2 (#349)
  core/util/gomod/mod.go
Labels: none

chore: update required go version to 1.23.x
  core/util/gomod/mod.go
Labels: none

fix test
  core/util/gomod/testdata/go.valid.mod
Labels: none

chore: update required go version to v1.23.x (#350)
  core/util/gomod/mod.go
  core/util/gomod/testdata/go.valid.mod
Labels: none

chore: prepare release v0.7.1
  core/util/gomod/mod.go
  go.mod
  go.sum
  go.work.sum
Labels: cc | build

chore: prepare release v0.7.1 (#351)
  core/util/gomod/mod.go
  go.mod
  go.sum
  go.work.sum
Labels: cc | build

fix: 'go mod tidy' fails with embedded template files
  core/embed/embed.go
  core/embed/som/constant/math.tmpl
  core/embed/som/constant/var.tmpl
  core/embed/som/conv/conv.tmpl
  core/embed/som/internal/lib/filter.uuid.tmpl
  core/embed/som/query/builder.tmpl
  core/embed/som/where/where.tmpl
  go.mod
  go.sum
  go.work.sum
  internal/tests/basic/go.mod
Labels: cc | build

fix: go.mod commands fail with embedded template files (#357)
  core/embed/embed.go
  core/embed/som/constant/math.tmpl
  core/embed/som/constant/var.tmpl
  core/embed/som/conv/conv.tmpl
  core/embed/som/internal/lib/filter.uuid.tmpl
  core/embed/som/query/builder.tmpl
  core/embed/som/where/where.tmpl
  go.mod
  go.sum
  go.work.sum
  internal/tests/basic/go.mod
Labels: cc | build

update
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

fix: make config type alias to sdbc
  core/embed/som/som.client.go
  core/util/gomod/mod.go
  internal/tests/basic/gen/som/som.client.go
Labels: none

.github/labeler.yml:

# Labeler Config

cc | build:
  - changed-files:
    - any-glob-to-any-file:
      - go.mod
      - go.sum

cc | ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*

cc | docs:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - docs/**/*

cc | test:
  - changed-files:
    - any-glob-to-any-file:
      - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
