Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

fix: make config type alias to sdbc (#358)
  core/embed/som/som.client.go
  core/util/gomod/mod.go
  internal/tests/basic/gen/som/som.client.go
Labels: none

update
  cmd/som/gen/cmd.go
  cmd/som/main.go
  go.mod
  go.sum
Labels: cc | build

feat: make som a compile-time only dependency
  core/codegen/base.builder.go
  core/codegen/field/convert.go
  core/embed/som/internal/lib/filter.email.go
  core/embed/som/internal/lib/filter.id.go
  core/embed/som/internal/lib/filter.password.go
  core/embed/som/internal/lib/filter.semver.go
  core/embed/som/som.client.go
  core/embed/som/som.node.go
  core/embed/som/sombase/som.base.go
  core/generate.go
  core/parser/parse.go
  internal/tests/basic/gen/som/internal/lib/filter.email.go
  internal/tests/basic/gen/som/internal/lib/filter.id.go
  internal/tests/basic/gen/som/internal/lib/filter.password.go
  internal/tests/basic/gen/som/internal/lib/filter.semver.go
  internal/tests/basic/gen/som/som.client.go
  internal/tests/basic/gen/som/som.node.go
  internal/tests/basic/gen/som/sombase/som.base.go
  internal/tests/basic/model/node.all_field_types.go
  internal/tests/basic/model/node.fields_like_db_response.go
  internal/tests/basic/model/node.url_example.go
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_filter_internal_test.go
Labels: cc | test

fixups
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/def/def.go
  core/codegen/field/field.id.go
  core/codegen/field/field.time.go
  core/embed/som/internal/lib/filter.email.tmpl
  core/embed/som/internal/lib/filter.id.tmpl
  core/embed/som/internal/lib/filter.password.tmpl
  core/embed/som/internal/lib/filter.semver.tmpl
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/node.url_example.go
  internal/tests/basic/gen/som/internal/lib/filter.email.go
  internal/tests/basic/gen/som/internal/lib/filter.id.go
  internal/tests/basic/gen/som/internal/lib/filter.password.go
  internal/tests/basic/gen/som/internal/lib/filter.semver.go
  internal/tests/basic/gen/som/node.all_field_types.go
  internal/tests/basic/gen/som/node.fields_like_db_response.go
  internal/tests/basic/gen/som/node.group.go
  internal/tests/basic/gen/som/node.url_example.go
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_filter_internal_test.go
Labels: cc | test

linter fix
  .tool-versions
  core/codegen/base.builder.go
Labels: none

cleanup
  core/codegen/field/context.go
  core/codegen/field/field.id.go
  core/codegen/field/field.time.go
Labels: none

cleanup
  core/parser/parse.go
Labels: none

feat: move cmd to root
  Taskfile.yml
  core/command.go
  internal/tests/basic/gen.go
  main.go
Labels: none

fix workflow
  .github/workflows/pull_request.yml
Labels: cc | ci

feat: move cmd to root (#361)
  .github/workflows/pull_request.yml
  Taskfile.yml
  core/command.go
  internal/tests/basic/gen.go
  main.go
Labels: cc | ci

update
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

cleanup
  go.work.sum
Labels: none

Apply dependency sync
  go.work.sum
Labels: none

update
  exp/.tool-versions
  exp/main.go
  exp/parser/parse.type_spec.go
  go.work.sum
  internal/tests/basic/model/subdir/some.go
  internal/tests/basic/model/user.go
Labels: none

fix(ci): main workflow wrong working dir
  .github/workflows/codeql.yml
Labels: cc | ci

fix(ci): main workflow wrong working dir (#362)
  .github/workflows/codeql.yml
Labels: cc | ci

Apply suggestions from code review
  .tool-versions
  internal/tests/.tool-versions
Labels: none

Apply suggestions from code review
  internal/tests/basic/.tool-versions
Labels: none

cleanup
  go.mod
  go.sum
  go.work
  go.work.sum
Labels: cc | build

cleanup
  go.work.sum
  internal/tests/basic/go.mod
Labels: none

build(go): run against go 1.25.4
  go.mod
  go.sum
  go.work
  go.work.sum
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: cc | build

update
  .tool-versions
  internal/tests/basic/go.mod
Labels: none

build(go): run against go v1.25.4 (#369)
  .tool-versions
  go.mod
  go.sum
  go.work
  go.work.sum
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: cc | build

feat: switch from sdbc to official db driver
  README.md
  core/codegen/def/def.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.time.go
  core/embed/som/conv/conv.tmpl
  core/embed/som/internal/lib/filter.duration.go
  core/embed/som/internal/lib/filter.time.go
  core/embed/som/internal/types/uuid.go
  core/embed/som/repo/som.client.go
  core/embed/som/repo/som.node.go
  core/embed/som/repo/som.options.go
  core/embed/som/som.base.go
  core/generate.go
  core/util/gomod/mod.go
  core/util/gomod/mod_test.go
  go.mod
  go.sum
  go.work.sum
  internal/tests/basic/gen/som/conv/conv.go
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/object.some_struct.go
  internal/tests/basic/gen/som/internal/lib/filter.duration.go
  internal/tests/basic/gen/som/internal/lib/filter.time.go
  internal/tests/basic/gen/som/internal/types/uuid.go
  internal/tests/basic/gen/som/repo/som.client.go
  internal/tests/basic/gen/som/repo/som.node.go
  internal/tests/basic/gen/som/repo/som.options.go
  internal/tests/basic/gen/som/som.base.go
  internal/tests/basic/go.mod
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_prepare_test.go
Labels: cc | build, cc | docs, cc | test

fixes and updates
  core/codegen/base.builder.go
  core/codegen/field/base.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/repo/som.client.go
  core/embed/som/repo/som.node.go
  internal/tests/basic/gen/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/gen/som/repo/som.client.go
  internal/tests/basic/gen/som/repo/som.node.go
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_count_test.go
  internal/tests/basic/som_live_test.go
Labels: cc | test

schema fixups
  core/codegen/base.builder.go
  core/codegen/field/base.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
Labels: none

update
  core/embed/som/repo/som.client.go
  internal/tests/basic/gen/som/repo/som.client.go
Labels: none

update
  core/codegen/base.builder.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.struct.go
  core/util/gomod/mod.go
  core/util/gomod/mod_test.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
Labels: cc | test

chore: switch from asdf to mise
  .tool-versions
  mise.toml
Labels: none

update
  core/codegen/base.builder.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.struct.go
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/repo/som.client.go
  core/embed/som/repo/som.options.go
  core/util/gomod/mod.go
  core/util/gomod/mod_test.go
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

update
  core/embed/som/repo/som.client.go
  core/embed/som/repo/som.node.go
  internal/tests/basic/gen/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/gen/som/repo/som.client.go
  internal/tests/basic/gen/som/repo/som.node.go
  internal/tests/basic/gen/som/repo/som.options.go
Labels: none

better optional with omitempty in client
  core/codegen/field/base.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  core/embed/som/repo/som.functions.go
  core/embed/som/repo/som.node.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/conv/node.url_example.go
  internal/tests/basic/gen/som/conv/object.some_struct.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/gen/som/repo/som.client.go
  internal/tests/basic/gen/som/repo/som.functions.go
  internal/tests/basic/gen/som/repo/som.node.go
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

update
  core/embed/som/repo/som.client.go
  internal/tests/basic/gen/som/repo/som.client.go
Labels: none

fix nil check with new omitempty approach
  core/embed/som/internal/lib/filter.nillable.go
  core/embed/som/internal/types/uuid.go
  internal/tests/basic/gen/som/internal/lib/filter.nillable.go
  internal/tests/basic/gen/som/internal/types/uuid.go
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

cleanup
  core/codegen/field/field.duration.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.time.go
  core/embed/som/conv/conv.tmpl
  core/embed/som/internal/lib/filter.duration.tmpl
  core/embed/som/internal/lib/filter.time.tmpl
  core/embed/som/internal/types/datetime.go
  core/embed/som/internal/types/duration.go
  core/embed/som/repo/som.client.go
  core/embed/som/som.base.tmpl
  internal/tests/basic/gen/som/conv/conv.go
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/object.some_struct.go
  internal/tests/basic/gen/som/internal/lib/filter.duration.go
  internal/tests/basic/gen/som/internal/lib/filter.nillable.go
  internal/tests/basic/gen/som/internal/lib/filter.time.go
  internal/tests/basic/gen/som/internal/types/datetime.go
  internal/tests/basic/gen/som/internal/types/duration.go
  internal/tests/basic/gen/som/repo/som.client.go
  internal/tests/basic/gen/som/som.base.go
  internal/tests/basic/som_base_test.go
Labels: cc | test

cleanup
  core/embed/som/som.base.tmpl
  internal/tests/basic/gen/som/som.base.go
  internal/tests/basic/som_base_test.go
Labels: cc | test

feat: add enum data types
  core/codegen/field/field.enum.go
  core/embed/som/som.base.tmpl
  core/parser/field.go
  core/parser/parse.go
  core/parser/type.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/gen/som/som.base.go
  internal/tests/basic/gen/som/where/node.all_field_types.go
  internal/tests/basic/model/node.all_field_types.go
Labels: none

feat: add empty filter for slice type
  core/codegen/field/field.slice.go
  core/embed/som/internal/lib/filter.slice.go
  core/embed/som/repo/som.client.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/internal/lib/filter.slice.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/gen/som/repo/som.client.go
  internal/tests/basic/som_base_test.go
Labels: cc | test

feat: optimise conv layer with proper (un)marshal methods
  core/codegen/base.builder.go
  core/codegen/build.cbor_helpers.go
  core/codegen/build.conv.go
  core/codegen/def/def.go
  core/codegen/field/codegen.go
  core/codegen/field/context.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/node.url_example.go
  internal/tests/basic/gen/som/conv/object.group_member_meta.go
  internal/tests/basic/gen/som/conv/object.login.go
  internal/tests/basic/gen/som/conv/object.some_struct.go
  internal/tests/basic/gen/som/internal/cbor/helpers.go
Labels: none

update github workflow
  .github/workflows/pull_request.yml
Labels: cc | ci

.github/labeler.yml:

# Labeler Config

cc | build:
  - changed-files:
    - any-glob-to-any-file:
      - go.mod
      - go.sum

cc | ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*

cc | docs:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - docs/**/*

cc | test:
  - changed-files:
    - any-glob-to-any-file:
      - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
