Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

Fixup
  go.sum
Labels: cc | build

feat: generate database schema for strict usage (#44)
  README.md
  core/codegen/base.builder.go
  core/codegen/def/def.go
  core/codegen/field/base.go
  core/codegen/field/convert.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.id.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.uuid.go
  example/gen/som/client.go
  example/gen/som/database.go
  example/gen/som/schema.go
  example/som_test.go
  go.sum
  test/main.go
Labels: cc | build, cc | docs, cc | test

chore: update readme
  README.md
Labels: cc | docs

feat: support geo types
  som.go
Labels: none

Implement query describe method
  core/codegen/build.query.go
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
  example/som_test.go
  go.mod
  go.sum
Labels: cc | build, cc | test

feat: implement query describe method (#74)
  core/codegen/build.query.go
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
  example/som_test.go
  go.mod
  go.sum
Labels: cc | build, cc | test

Fix query variable index breaks for > 26 variables
  example/som_test.go
  lib/builder/builder.go
Labels: cc | test

fix: query variable index breaks after 26 variables (#75)
  example/som_test.go
  lib/builder/builder.go
Labels: cc | test

Make query builder reusable
  core/codegen/base.builder.go
  core/codegen/build.query.go
  example/gen/som/database.go
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
  example/som_test.go
  lib/builder/builder.go
  test/main.go
Labels: cc | test

Fixup
  example/som_test.go
Labels: cc | test

feat: make query builder reusable (#76)
  core/codegen/base.builder.go
  core/codegen/build.query.go
  example/gen/som/database.go
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
  example/som_test.go
  lib/builder/builder.go
  test/main.go
Labels: cc | test

Implement auto timestamps on create/update
  README.md
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/def/def.go
  core/codegen/field/base.go
  core/codegen/field/convert.go
  core/codegen/field/db.object.go
  core/codegen/field/field.id.go
  core/codegen/field/table.edge.go
  core/codegen/field/table.node.go
  core/parser/parse.go
  core/parser/type.go
  example/gen/som/by/node.group.go
  example/gen/som/conv/edge.member_of.go
  example/gen/som/conv/node.group.go
  example/gen/som/conv/node.user.go
  example/gen/som/node.group.go
  example/gen/som/node.user.go
  example/gen/som/schema.go
  example/gen/som/where/node.group.go
  example/model/user.go
  som.go
  test/main.go
Labels: cc | docs

Fixup
  example/som_test.go
Labels: cc | test

Update
  core/codegen/base.builder.go
  example/gen/som/node.group.go
  example/gen/som/node.user.go
Labels: none

feat: implement auto timestamps on create/update (#79)
  README.md
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/def/def.go
  core/codegen/field/base.go
  core/codegen/field/convert.go
  core/codegen/field/db.object.go
  core/codegen/field/field.id.go
  core/codegen/field/table.edge.go
  core/codegen/field/table.node.go
  core/parser/parse.go
  core/parser/type.go
  example/gen/som/by/node.group.go
  example/gen/som/conv/edge.member_of.go
  example/gen/som/conv/node.group.go
  example/gen/som/conv/node.user.go
  example/gen/som/node.group.go
  example/gen/som/node.user.go
  example/gen/som/schema.go
  example/gen/som/where/node.group.go
  example/model/user.go
  example/som_test.go
  som.go
  test/main.go
Labels: cc | docs, cc | test

refactor: provide separate create-with-id method
  README.md
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.relate.go
  example/gen/som/conv/edge.member_of.go
  example/gen/som/conv/node.group.go
  example/gen/som/conv/node.user.go
  example/gen/som/node.group.go
  example/gen/som/node.user.go
  example/gen/som/relate/edge.member_of.go
  example/som_test.go
  som.go
  test/main.go
Labels: cc | docs, cc | test

refactor: provide separate create-with-id method (#80)
  README.md
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.relate.go
  example/gen/som/conv/edge.member_of.go
  example/gen/som/conv/node.group.go
  example/gen/som/conv/node.user.go
  example/gen/som/node.group.go
  example/gen/som/node.user.go
  example/gen/som/relate/edge.member_of.go
  example/som_test.go
  som.go
  test/main.go
Labels: cc | docs, cc | test

WIP
  README.md
  example/som_test.go
Labels: cc | docs, cc | test

WIP
  core/codegen/build.filter.go
  core/codegen/field/field.slice.go
  example/gen/som/where/edge.member_of.go
  example/gen/som/where/node.group.go
  example/gen/som/where/node.user.go
  example/gen/som/where/object.login.go
  example/gen/som/where/object.member_of_meta.go
  example/gen/som/where/object.some_struct.go
  lib/filter/slice.go
Labels: none

WIP
  core/codegen/build.filter.go
  core/codegen/field/field.slice.go
  example/gen/som/where/edge.member_of.go
  example/gen/som/where/node.group.go
  example/gen/som/where/node.user.go
  example/som_test.go
  lib/builder/where.go
  lib/filter/key.go
  lib/filter/of.go
Labels: cc | test

Add asserts to database schema definition
  core/codegen/field/field.bool.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.uuid.go
  example/gen/som/schema.go
Labels: none

Update/fixup
  core/codegen/build.conv.go
  core/codegen/field/field.node.go
  core/codegen/field/field.slice.go
  example/gen/som/conv/conv.go
  example/gen/som/conv/node.user.go
  example/gen/som/schema.go
Labels: none

Update
  core/codegen/build.conv.go
  core/codegen/field/field.slice.go
  example/gen/som/conv/conv.go
  example/gen/som/conv/node.user.go
  example/gen/som/schema.go
  example/som_test.go
Labels: cc | test

feat: add asserts to database schema definition (#82)
  core/codegen/build.conv.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.uuid.go
  example/gen/som/conv/conv.go
  example/gen/som/schema.go
  example/som_test.go
Labels: cc | test

feat: schema assert for enum values
  core/codegen/base.input.go
  core/codegen/field/base.go
  core/codegen/field/convert.go
  core/codegen/field/db.enum.go
  core/codegen/field/field.enum.go
  core/parser/parse.go
  example/gen/som/conv/conv.go
  example/gen/som/schema.go
  example/model/user.go
Labels: none

Update
  core/codegen/field/field.enum.go
  example/model/user.go
  go.sum
Labels: cc | build

Cleanup
  core/codegen/field/db.enum.go
Labels: none

feat: schema assert for enum values (#83)
  core/codegen/base.input.go
  core/codegen/field/base.go
  core/codegen/field/convert.go
  core/codegen/field/db.enum.go
  core/codegen/field/field.enum.go
  core/parser/parse.go
  example/gen/som/conv/conv.go
  example/gen/som/schema.go
  go.sum
Labels: cc | build

Cleanup/fixup
  go.sum
Labels: cc | build

docs: update readme (#72)
  README.md
  go.sum
Labels: cc | build, cc | docs

Update
  README.md
  test/main.go
Labels: cc | docs

WIP
  example/model/interface.go
  som.go
Labels: none

WIP
  README.md
Labels: cc | docs

WIP
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  ROADMAP.md
  docs/index.md
  docs/models.md
  docs/queries.md
Labels: cc | ci, cc | docs

Update
  example/model/interface.go
Labels: none

Updat
  .github/branding/logo.png
  README.md
Labels: cc | ci, cc | docs

Update
  README.md
Labels: cc | docs

Update
  CHANGELOG.md
  README.md
  ROADMAP.md
Labels: cc | docs

chore: adding and updating basic repository files (#88)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/branding/logo.png
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  ROADMAP.md
  docs/index.md
  docs/models.md
  docs/queries.md
Labels: cc | ci, cc | docs

Update
  go.mod
  go.sum
Labels: cc | build

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
