Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

.github/labeler.yml:

# Labeler Config

cc | build:
  - changed-files:
    - any-glob-to-any-file:
      - go.mod
      - go.sum

cc | ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*

cc | docs:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - docs/**/*

cc | test:
  - changed-files:
    - any-glob-to-any-file:
      - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style

feat: add missing filter functions
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/internal/lib/filter.base.go
  core/embed/som/internal/lib/filter.base_.go
  core/embed/som/internal/lib/filter.bool.go
  core/embed/som/internal/lib/filter.geo.go
  core/embed/som/internal/lib/filter.id.go
  core/embed/som/internal/lib/filter.numeric.go
  core/embed/som/internal/lib/filter.semver.go
  core/embed/som/internal/lib/filter.slice.go
  core/embed/som/internal/lib/filter.string.go
  core/embed/som/internal/lib/filter.time.go
  core/embed/som/internal/lib/filter.time_slice.go
  core/embed/som/internal/lib/filter.url.go
  core/embed/som/internal/lib/key.go
  tests/basic/gen/som/internal/lib/builder.query.go
  tests/basic/gen/som/internal/lib/filter.base.go
  tests/basic/gen/som/internal/lib/filter.base_.go
  tests/basic/gen/som/internal/lib/filter.bool.go
  tests/basic/gen/som/internal/lib/filter.geo.go
  tests/basic/gen/som/internal/lib/filter.id.go
  tests/basic/gen/som/internal/lib/filter.numeric.go
  tests/basic/gen/som/internal/lib/filter.semver.go
  tests/basic/gen/som/internal/lib/filter.slice.go
  tests/basic/gen/som/internal/lib/filter.string.go
  tests/basic/gen/som/internal/lib/filter.time.go
  tests/basic/gen/som/internal/lib/filter.time_slice.go
  tests/basic/gen/som/internal/lib/filter.url.go
  tests/basic/gen/som/internal/lib/key.go
Labels: none

update
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/internal/lib/filter.base.go
  core/embed/som/internal/lib/filter.comparable.go
  core/embed/som/internal/lib/filter.float.go
  core/embed/som/internal/lib/filter.float_slice.go
  core/embed/som/internal/lib/filter.int.go
  core/embed/som/internal/lib/filter.int_slice.go
  core/embed/som/internal/lib/filter.numeric.go
  core/embed/som/internal/lib/filter.numeric_slice.go
  core/embed/som/internal/lib/filter.slice.go
  core/embed/som/internal/lib/filter.struct.go
  tests/basic/gen/som/internal/lib/builder.query.go
  tests/basic/gen/som/internal/lib/filter.base.go
  tests/basic/gen/som/internal/lib/filter.comparable.go
  tests/basic/gen/som/internal/lib/filter.float.go
  tests/basic/gen/som/internal/lib/filter.float_slice.go
  tests/basic/gen/som/internal/lib/filter.int.go
  tests/basic/gen/som/internal/lib/filter.int_slice.go
  tests/basic/gen/som/internal/lib/filter.numeric.go
  tests/basic/gen/som/internal/lib/filter.numeric_slice.go
  tests/basic/gen/som/internal/lib/filter.slice.go
  tests/basic/gen/som/internal/lib/filter.struct.go
Labels: none

update
  core/codegen/field/field.slice.go
  core/embed/som/internal/lib/filter.float.go
  core/embed/som/internal/lib/filter.float_slice.go
  core/embed/som/internal/lib/filter.int.go
  core/embed/som/internal/lib/filter.int_slice.go
  core/embed/som/internal/lib/filter.numeric_slice.go
  tests/basic/gen/som/internal/lib/filter.float.go
  tests/basic/gen/som/internal/lib/filter.float_slice.go
  tests/basic/gen/som/internal/lib/filter.int.go
  tests/basic/gen/som/internal/lib/filter.int_slice.go
  tests/basic/gen/som/internal/lib/filter.numeric_slice.go
  tests/basic/gen/som/where/node.all_field_types.go
Labels: none

update
  core/codegen/field/field.slice.go
  core/embed/som/internal/lib/filter.string_slice.go
  tests/basic/gen/som/internal/lib/filter.string_slice.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/gen/som/where/node.fields_like_db_response.go
Labels: none

feat: add DescribeWithVars and Debug methods to query builder
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/query/builder.go
  tests/basic/gen/som/internal/lib/builder.query.go
  tests/basic/gen/som/query/builder.go
Labels: none

feat: add DescribeWithVars and Debug methods to query builder (#304)
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/query/builder.go
  tests/basic/gen/som/internal/lib/builder.query.go
  tests/basic/gen/som/query/builder.go
Labels: none

update
  core/codegen/field/field.slice.go
  core/embed/som/constant/var.go
  core/embed/som/internal/lib/filter.byte_slice.go
  core/embed/som/internal/lib/filter.float_slice.go
  core/embed/som/internal/lib/filter.int.go
  core/embed/som/internal/lib/filter.int_slice.go
  core/embed/som/internal/lib/filter.numeric_slice.go
  core/embed/som/internal/lib/filter.slice.go
  core/embed/som/internal/lib/filter.string_slice.go
  core/embed/som/internal/lib/filter.time_slice.go
  tests/basic/gen/som/constant/var.go
  tests/basic/gen/som/internal/lib/filter.byte_slice.go
  tests/basic/gen/som/internal/lib/filter.float_slice.go
  tests/basic/gen/som/internal/lib/filter.int.go
  tests/basic/gen/som/internal/lib/filter.int_slice.go
  tests/basic/gen/som/internal/lib/filter.numeric_slice.go
  tests/basic/gen/som/internal/lib/filter.slice.go
  tests/basic/gen/som/internal/lib/filter.string_slice.go
  tests/basic/gen/som/internal/lib/filter.time_slice.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/som_base_test.go
Labels: cc | test

todo comment
  core/embed/som/internal/lib/builder.query.go
  tests/basic/gen/som/internal/lib/builder.query.go
Labels: none

docs: setup gitbook
  .gitbook.yml
  docs/content/ideas.md
  docs/content/models.md
  docs/content/queries.md
  docs/summary.md
Labels: cc | docs

rename
  .gitbook.yaml
Labels: none

update
  docs/summary.md
Labels: cc | docs

update
  .gitbook.yml
  docs/summary.md
Labels: cc | docs

update
  docs/01_overview/01_index.md
  docs/01_overview/02_features.md
  docs/01_overview/about.md
  docs/01_overview/features.md
  docs/01_overview/models.md
  docs/01_overview/overview.md
  docs/01_overview/queries.md
  docs/02_getting_started/01_index.md
  docs/02_getting_started/02_installation.md
  docs/02_getting_started/03_concepts.md
  docs/02_getting_started/concepts.md
  docs/02_getting_started/features.md
  docs/02_getting_started/installation.md
  docs/03_usage/01_index.md
  docs/03_usage/02_generation.md
  docs/03_usage/03_models.md
  docs/03_usage/04_crud.md
  docs/03_usage/05_data_types.md
  docs/03_usage/06_queries.md
  docs/03_usage/07_relations.md
  docs/03_usage/crud.md
  docs/03_usage/data-types.md
  docs/03_usage/generation.md
  docs/03_usage/index.md
  docs/03_usage/models.md
  docs/03_usage/queries.md
  docs/03_usage/relations.md
  docs/04_development/01_index.md
  docs/04_development/02_roadmap.md
  docs/04_development/03_contribute.md
  docs/04_development/roadmap.md
  docs/05_other/01_index.md
  docs/05_other/02_faq.md
  docs/05_other/03_ideas.md
  docs/05_other/about.md
  docs/summary.md
Labels: cc | docs

chore: prepare release v0.6.0
  core/util/gomod/mod.go
  go.mod
Labels: cc | build

chore: prepare release v0.6.0 (#308)
  core/util/gomod/mod.go
  go.mod
Labels: cc | build

fix: generated files not written correctly
  core/generate.go
  core/util/fs/fs.go
Labels: none

prepare release
  core/util/gomod/mod.go
  go.mod
Labels: cc | build

fix: generated files not written correctly (#309)
  core/generate.go
  core/util/fs/fs.go
  core/util/gomod/mod.go
  go.mod
Labels: cc | build

update
  .github/workflows/pull_request.yml
  .tool-versions
  Taskfile.yml
  internal/tests/basic/gen.go
Labels: cc | ci

refactor: sdbc.ID to som.ID
  som.go
Labels: none

update
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/field/field.id.go
  core/embed/som/internal/lib/filter.id.go
  core/embed/som/internal/lib/filter.id_.go
  core/embed/som/som.client.go
  core/embed/som/som.node.go
  docs/ideas.md
  tests/basic/gen/som/conv/edge.group_member.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/conv/node.fields_like_db_response.go
  tests/basic/gen/som/conv/node.group.go
  tests/basic/gen/som/conv/node.url_example.go
  tests/basic/gen/som/internal/lib/filter.id.go
  tests/basic/gen/som/internal/lib/filter.id_.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
  tests/basic/gen/som/som.client.go
  tests/basic/gen/som/som.node.go
  tests/basic/go.mod
Labels: cc | docs

refactor: sdbc.ID to som.ID (#311)
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/field/field.id.go
  core/embed/som/internal/lib/filter.id.go
  core/embed/som/internal/lib/filter.id_.go
  core/embed/som/som.client.go
  core/embed/som/som.node.go
  docs/ideas.md
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/node.url_example.go
  internal/tests/basic/gen/som/internal/lib/filter.id.go
  internal/tests/basic/gen/som/internal/lib/filter.id_.go
  internal/tests/basic/gen/som/node.all_field_types.go
  internal/tests/basic/gen/som/node.fields_like_db_response.go
  internal/tests/basic/gen/som/node.group.go
  internal/tests/basic/gen/som/node.url_example.go
  internal/tests/basic/gen/som/som.client.go
  internal/tests/basic/gen/som/som.node.go
  internal/tests/basic/go.mod
  som.go
Labels: cc | docs

chore: prepare release v0.6.2
  core/util/gomod/mod.go
  go.mod
  internal/tests/basic/go.mod
Labels: cc | build

chore: prepare release v0.6.2 (#312)
  core/util/gomod/mod.go
  go.mod
  internal/tests/basic/go.mod
Labels: cc | build

update
  core/codegen/base.builder.go
  core/codegen/build.filter.go
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/internal/lib/filter.base.go
  core/embed/som/internal/lib/filter.slice.go
  core/embed/som/internal/lib/filter.string.go
  core/embed/som/query/builder.go
  core/embed/som/som.node.go
  docs/ideas.md
  go.work.sum
  internal/tests/basic/som_prepare_test.go
Labels: cc | docs, cc | test

update
  core/generate.go
  go.mod
  go.sum
  go.work.sum
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: cc | build

update
  core/generate.go
  docs/ideas.md
  internal/tests/basic/gen.go
  internal/tests/basic/gen/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/internal/lib/filter.base.go
  internal/tests/basic/gen/som/internal/lib/filter.slice.go
  internal/tests/basic/gen/som/internal/lib/filter.string.go
  internal/tests/basic/gen/som/query/builder.go
  internal/tests/basic/gen/som/schema/tables.surql
  internal/tests/basic/gen/som/som.node.go
Labels: cc | docs

fixes
  core/embed/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/internal/lib/builder.query.go
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

test: build time performance
  go.mod
  internal/tests/basic/gen.go
  internal/tests/basic/main.go
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_count_test.go
  internal/tests/basic/som_filter_internal_test.go
  internal/tests/basic/som_integrity_test.go
  internal/tests/basic/som_live_test.go
  internal/tests/basic/som_prepare_test.go
Labels: cc | build, cc | test

docs(gitbook#1): No subject
  docs/01_overview/README.md
  docs/02_getting_started/README.md
  docs/03_usage/README.md
  docs/04_development/README.md
  docs/05_other/README.md
  docs/README.md
  docs/SUMMARY.md
Labels: cc | docs

wip
  core/embed/som/internal/lib/filter.string.go
  exp/main.go
  exp/model/user.go
  exp/parser/parse.base.go
  exp/parser/parse.expr.go
  exp/parser/parse.pkg.go
  exp/parser/parser.go
  exp/parser/pkg.decl.go
  exp/parser/pkg.go
Labels: none

fix: syntax error in generated code for edges
  core/codegen/field/field.edge.go
  core/codegen/field/field.slice.go
  core/embed/som/som.client.go
Labels: none

update
  internal/tests/basic/gen.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/som.client.go
Labels: none

update
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.struct.go
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/node.url_example.go
  internal/tests/basic/gen/som/conv/object.group_member_meta.go
  internal/tests/basic/gen/som/conv/object.login.go
  internal/tests/basic/gen/som/conv/object.some_struct.go
  internal/tests/basic/gen/som/node.all_field_types.go
  internal/tests/basic/gen/som/node.fields_like_db_response.go
  internal/tests/basic/gen/som/node.group.go
  internal/tests/basic/gen/som/node.url_example.go
  internal/tests/basic/gen/som/query/node.all_field_types.go
  internal/tests/basic/gen/som/query/node.fields_like_db_response.go
  internal/tests/basic/gen/som/query/node.group.go
  internal/tests/basic/gen/som/query/node.url_example.go
  internal/tests/basic/gen/som/relate/edge.group_member.go
  internal/tests/basic/repo/all_field_types.go
Labels: none

fix: codegen for (no-)pointer node/edge types (#316)
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.struct.go
  core/embed/som/som.client.go
  internal/tests/basic/gen.go
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/node.url_example.go
  internal/tests/basic/gen/som/conv/object.group_member_meta.go
  internal/tests/basic/gen/som/conv/object.login.go
  internal/tests/basic/gen/som/conv/object.some_struct.go
  internal/tests/basic/gen/som/node.all_field_types.go
  internal/tests/basic/gen/som/node.fields_like_db_response.go
  internal/tests/basic/gen/som/node.group.go
  internal/tests/basic/gen/som/node.url_example.go
  internal/tests/basic/gen/som/query/node.all_field_types.go
  internal/tests/basic/gen/som/query/node.fields_like_db_response.go
  internal/tests/basic/gen/som/query/node.group.go
  internal/tests/basic/gen/som/query/node.url_example.go
  internal/tests/basic/gen/som/relate/edge.group_member.go
  internal/tests/basic/gen/som/som.client.go
  internal/tests/basic/repo/all_field_types.go
Labels: none

chore: prepare release v0.6.3
  core/util/gomod/mod.go
  go.mod
  internal/tests/basic/go.mod
Labels: cc | build

chore: prepare release v0.6.3 (#317)
  core/util/gomod/mod.go
  go.mod
  internal/tests/basic/go.mod
Labels: cc | build

wip
  core/embed/som/internal/lib/filter.bool.go
  core/embed/som/internal/lib/filter.time.go
Labels: none

update
  .tool-versions
  exp/.tool-versions
  exp/def/field.go
  exp/def/import.go
  exp/def/type.base.go
  exp/def/type.edge.go
  exp/def/type.node.go
  exp/def/type.numeric.go
  exp/def/type.slice.go
  exp/def/type.struct.go
  exp/def/type_param.go
  exp/field/field.go
  exp/go.mod
  exp/go.sum
  exp/main.go
  exp/model/subdir/some.go
  exp/model/user.go
  exp/parser/parse.expr.go
  exp/parser/parse.field.go
  exp/parser/parse.import_spec.go
  exp/parser/parse.spec.go
  exp/parser/parse.struct_type.go
  exp/parser/parse.type_spec.go
  exp/parser/parser.go
  exp/parser/pkg.decl.go
  exp/parser/pkg.go
  go.work
  go.work.sum
Labels: none

wip
  exp/def/field/field.bool.go
  exp/def/field/field.byte.go
  exp/def/field/field.named.go
  exp/def/field/field.numeric.go
  exp/def/field/field.pointer.go
  exp/def/field/field.rune.go
  exp/def/field/field.slice.go
  exp/def/field/field.string.go
  exp/def/field/field_.go
  exp/def/type.numeric.go
  exp/def/type.slice.go
  exp/def/type.struct.go
  exp/go.mod
  exp/go.sum
  exp/main.go
  exp/model/user.go
  exp/parser/parse.field.go
  exp/parser/parse.import_spec.go
  exp/parser/parse.struct_type.go
  exp/parser/parse.type_spec.go
  exp/parser/parser.go
  go.work.sum
  try.go
Labels: none
