Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

update
  core/codegen/field/field.duration.go
  core/codegen/field/field.time.go
  core/embed/conv/conv.go
  examples/basic/gen/som/by/node.user.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/som.schema.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/model/user.go
  examples/basic/som_test.go
  examples/movie/gen/som/conv/conv.go
  examples/movie/gen/som/internal/lib/filter.go
  examples/testing/gen/som/conv/conv.go
  examples/testing/gen/som/internal/lib/filter.go
  tests/basic/gen/som/by/node.all_field_types.go
  tests/basic/gen/som/conv/conv.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/schema/tables.surql
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/model/all_field_types.go
  tests/basic/som_base_test.go
Labels: cc | test

update
  core/codegen/build.filter.go
  core/codegen/field/field.uuid.go
  core/embed/lib/filter.go
  tests/basic/gen/som/internal/lib/filter.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/gen/som/where/object.some_struct.go
  tests/basic/gen/som/where/where.go
  tests/basic/som_base_test.go
Labels: cc | test

feat: support time.duration type (#164)
  core/codegen/build.filter.go
  core/codegen/field/convert.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.time.go
  core/codegen/field/field.uuid.go
  core/embed/conv/conv.go
  core/embed/lib/filter.go
  core/parser/field.go
  core/parser/parse.go
  tests/basic/gen/som/by/node.all_field_types.go
  tests/basic/gen/som/conv/conv.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/internal/lib/filter.go
  tests/basic/gen/som/schema/tables.surql
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/gen/som/where/object.some_struct.go
  tests/basic/gen/som/where/where.go
  tests/basic/model/all_field_types.go
  tests/basic/som_base_test.go
Labels: cc | test

update
  core/codegen/field/codegen.go
  core/codegen/field/context.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  core/embed/conv/conv.go
  tests/basic/gen/som/conv/conv.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/conv/node.group.go
  tests/basic/gen/som/conv/node.url_example.go
  tests/basic/gen/som/schema/tables.surql
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/gen/som/where/node.fields_like_db_response.go
  tests/basic/model/all_field_types.go
  tests/basic/som_base_test.go
Labels: cc | test

cleanup
  core/codegen/base.builder.go
  core/embed/internal/types/uuid.go
  tests/basic/gen/som/internal/types/uuid.go
  tests/basic/gen/som/schema/tables.surql
  tests/basic/som_integrity_test.go
Labels: cc | test

cleanup
  core/embed/internal/lib/filter.node_slice.go
  tests/basic/gen/som/internal/lib/filter.node_slice.go
Labels: none

readme
  README.md
Labels: cc | docs

refactor: code cleanup
  core/codegen/field/base.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.id.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  tests/basic/gen/som/conv/edge.group_member.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/conv/node.fields_like_db_response.go
  tests/basic/gen/som/conv/node.group.go
  tests/basic/gen/som/conv/node.url_example.go
  tests/basic/gen/som/conv/object.group_member_meta.go
  tests/basic/gen/som/conv/object.login.go
  tests/basic/gen/som/conv/object.some_struct.go
Labels: none

wip
  cmd/som/gen/cmd.go
  core/codegen/base.builder.go
  core/codegen/build.base.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.filter.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  core/generate.go
  core/util/fs/fs.go
Labels: none

update
  core/codegen/build.filter.go
  tests/basic/gen/som/by/sort.go
  tests/basic/gen/som/conv/conv.go
  tests/basic/gen/som/internal/lib/builder.query.go
  tests/basic/gen/som/internal/lib/builder.sort.go
  tests/basic/gen/som/internal/lib/filter.base.go
  tests/basic/gen/som/internal/lib/filter.bool.go
  tests/basic/gen/som/internal/lib/filter.byte_slice.go
  tests/basic/gen/som/internal/lib/filter.comparable.go
  tests/basic/gen/som/internal/lib/filter.duration.go
  tests/basic/gen/som/internal/lib/filter.email.go
  tests/basic/gen/som/internal/lib/filter.id.go
  tests/basic/gen/som/internal/lib/filter.nillable.go
  tests/basic/gen/som/internal/lib/filter.numeric.go
  tests/basic/gen/som/internal/lib/filter.password.go
  tests/basic/gen/som/internal/lib/filter.semver.go
  tests/basic/gen/som/internal/lib/filter.slice.go
  tests/basic/gen/som/internal/lib/filter.string.go
  tests/basic/gen/som/internal/lib/filter.string_slice.go
  tests/basic/gen/som/internal/lib/filter.struct.go
  tests/basic/gen/som/internal/lib/filter.time.go
  tests/basic/gen/som/internal/lib/filter.time_slice.go
  tests/basic/gen/som/internal/lib/filter.url.go
  tests/basic/gen/som/internal/lib/filter.uuid.go
  tests/basic/gen/som/internal/lib/key.go
  tests/basic/gen/som/internal/lib/sort.go
  tests/basic/gen/som/internal/types/uuid.go
  tests/basic/gen/som/query/builder.go
  tests/basic/gen/som/query/query.go
  tests/basic/gen/som/relate/relate.go
  tests/basic/gen/som/schema/tables.surql
  tests/basic/gen/som/som.client.go
  tests/basic/gen/som/som.functions.go
  tests/basic/gen/som/som.node.go
  tests/basic/gen/som/som.options.go
  tests/basic/gen/som/som.schema.go
  tests/basic/gen/som/where/where.go
  tests/basic/gen/som/with/fetch.go
Labels: none

fix
  core/codegen/build.sort.go
  tests/basic/gen/som/by/node.all_field_types.go
  tests/basic/gen/som/by/node.fields_like_db_response.go
  tests/basic/gen/som/by/node.group.go
  tests/basic/gen/som/by/node.url_example.go
Labels: none

remove dead code
  core/codegen/field/field.slice.go
Labels: none

update
  core/codegen/build.fetch.go
  tests/basic/gen/som/with/node.all_field_types.go
  tests/basic/gen/som/with/node.fields_like_db_response.go
  tests/basic/gen/som/with/node.group.go
  tests/basic/gen/som/with/node.url_example.go
Labels: none

update
  tests/basic/gen/som/by/sort.go
  tests/basic/gen/som/conv/conv.go
  tests/basic/gen/som/internal/lib/builder.query.go
  tests/basic/gen/som/internal/lib/builder.sort.go
  tests/basic/gen/som/internal/lib/filter.base.go
  tests/basic/gen/som/internal/lib/filter.bool.go
  tests/basic/gen/som/internal/lib/filter.byte_slice.go
  tests/basic/gen/som/internal/lib/filter.comparable.go
  tests/basic/gen/som/internal/lib/filter.duration.go
  tests/basic/gen/som/internal/lib/filter.email.go
  tests/basic/gen/som/internal/lib/filter.id.go
  tests/basic/gen/som/internal/lib/filter.nillable.go
  tests/basic/gen/som/internal/lib/filter.numeric.go
  tests/basic/gen/som/internal/lib/filter.password.go
  tests/basic/gen/som/internal/lib/filter.semver.go
  tests/basic/gen/som/internal/lib/filter.slice.go
  tests/basic/gen/som/internal/lib/filter.string.go
  tests/basic/gen/som/internal/lib/filter.string_slice.go
  tests/basic/gen/som/internal/lib/filter.struct.go
  tests/basic/gen/som/internal/lib/filter.time.go
  tests/basic/gen/som/internal/lib/filter.time_slice.go
  tests/basic/gen/som/internal/lib/filter.url.go
  tests/basic/gen/som/internal/lib/filter.uuid.go
  tests/basic/gen/som/internal/lib/key.go
  tests/basic/gen/som/internal/lib/sort.go
  tests/basic/gen/som/internal/types/uuid.go
  tests/basic/gen/som/query/builder.go
  tests/basic/gen/som/query/query.go
  tests/basic/gen/som/relate/relate.go
  tests/basic/gen/som/schema/tables.surql
  tests/basic/gen/som/som.client.go
  tests/basic/gen/som/som.functions.go
  tests/basic/gen/som/som.node.go
  tests/basic/gen/som/som.options.go
  tests/basic/gen/som/som.schema.go
  tests/basic/gen/som/where/where.go
  tests/basic/gen/som/with/fetch.go
Labels: none

update
  cmd/som/gen/cmd.go
  core/codegen/base.input.go
  core/generate.go
  core/util/fs/fs.go
  docs/ideas.md
  tests/basic/gen.go
Labels: cc | docs

update
  tests/basic/gen.go
Labels: none

cleanup
  core/util/fs/fs.go
Labels: none

update
  go.mod
  go.work
  tests/basic/go.mod
Labels: cc | build

try: go.123
  .tool-versions
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.filter.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  core/embed/conv/conv.go
  core/embed/query/builder.go
  core/embed/query/builder_go1.23.go
  core/util/fs/fs.go
  go.mod
  go.sum
  go.work
  go.work.sum
  tests/basic/.tool-versions
  tests/basic/gen/som/query/builder.go
  tests/basic/gen/som/query/builder_go1.23.go
  tests/basic/go.mod
  tests/basic/som_iterate_test.go
Labels: cc | build, cc | test

wip
  cmd/som/gen/cmd.go
  compose.yml
  core/generate.go
Labels: none

fix: embed file uses local import
  core/embed/embed_test.go
  core/embed/query/builder.go
Labels: cc | test

fix: embedded file uses local import (#296)
  core/embed/embed_test.go
  core/embed/query/builder.go
Labels: cc | test

refactor: embedded gen files handling
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.filter.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  core/codegen/util.go
  core/embed/embed.go
  core/embed/som/by/sort.go
  core/embed/som/conv/conv.go
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/internal/lib/builder.sort.go
  core/embed/som/internal/lib/filter.base.go
  core/embed/som/internal/lib/filter.bool.go
  core/embed/som/internal/lib/filter.byte_slice.go
  core/embed/som/internal/lib/filter.comparable.go
  core/embed/som/internal/lib/filter.duration.go
  core/embed/som/internal/lib/filter.email.go
  core/embed/som/internal/lib/filter.id.go
  core/embed/som/internal/lib/filter.nillable.go
  core/embed/som/internal/lib/filter.numeric.go
  core/embed/som/internal/lib/filter.password.go
  core/embed/som/internal/lib/filter.semver.go
  core/embed/som/internal/lib/filter.slice.go
  core/embed/som/internal/lib/filter.string.go
  core/embed/som/internal/lib/filter.string_slice.go
  core/embed/som/internal/lib/filter.struct.go
  core/embed/som/internal/lib/filter.time.go
  core/embed/som/internal/lib/filter.time_slice.go
  core/embed/som/internal/lib/filter.url.go
  core/embed/som/internal/lib/filter.uuid.go
  core/embed/som/internal/lib/key.go
  core/embed/som/internal/lib/sort.go
  core/embed/som/internal/types/uuid.go
  core/embed/som/query/builder.go
  core/embed/som/query/query.go
  core/embed/som/relate/relate.go
  core/embed/som/where/where.go
  core/embed/som/with/fetch.go
Labels: none

refactor: embedded gen files handling (#298)
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.filter.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  core/codegen/util.go
  core/embed/embed.go
  core/embed/som/by/sort.go
  core/embed/som/conv/conv.go
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/internal/lib/builder.sort.go
  core/embed/som/internal/lib/filter.base.go
  core/embed/som/internal/lib/filter.bool.go
  core/embed/som/internal/lib/filter.byte_slice.go
  core/embed/som/internal/lib/filter.comparable.go
  core/embed/som/internal/lib/filter.duration.go
  core/embed/som/internal/lib/filter.email.go
  core/embed/som/internal/lib/filter.id.go
  core/embed/som/internal/lib/filter.nillable.go
  core/embed/som/internal/lib/filter.numeric.go
  core/embed/som/internal/lib/filter.password.go
  core/embed/som/internal/lib/filter.semver.go
  core/embed/som/internal/lib/filter.slice.go
  core/embed/som/internal/lib/filter.string.go
  core/embed/som/internal/lib/filter.string_slice.go
  core/embed/som/internal/lib/filter.struct.go
  core/embed/som/internal/lib/filter.time.go
  core/embed/som/internal/lib/filter.time_slice.go
  core/embed/som/internal/lib/filter.url.go
  core/embed/som/internal/lib/filter.uuid.go
  core/embed/som/internal/lib/key.go
  core/embed/som/internal/lib/sort.go
  core/embed/som/internal/types/uuid.go
  core/embed/som/query/builder.go
  core/embed/som/query/query.go
  core/embed/som/relate/relate.go
  core/embed/som/where/where.go
  core/embed/som/with/fetch.go
Labels: none

update
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.filter.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  core/embed/som/conv/conv.go
  core/util/fs/fs.go
  go.mod
  go.work
  tests/basic/.tool-versions
  tests/basic/go.mod
Labels: cc | build

cleanup
  go.mod
  go.sum
  go.work.sum
Labels: cc | build

disable golangci-lint
  .github/workflows/pull_request.yml
Labels: cc | ci

disable test
  tests/basic/som_iterate_test.go
Labels: cc | test

update
  core/embed/som/query/builder_go1.23.go
Labels: none

update
  core/generate.go
  core/util/mod.go
  core/util/mod_test.go
  core/util/testdata/go.valid.mod
  core/util/versions.go
  docs/ideas.md
  go.work.sum
  tests/basic/go.mod
Labels: cc | docs, cc | test

update
  core/generate.go
  core/parser/parse.go
  core/util/gen.go
  core/util/gomod/mod.go
  core/util/gomod/mod_test.go
  core/util/gomod/testdata/go.invalid.mod
  core/util/gomod/testdata/go.outdated.mod
  core/util/gomod/testdata/go.valid.mod
  core/util/gomod/versions.go
  core/util/mod_test.go
  core/util/testdata/go.sdbc_invalid.mod
  core/util/testdata/go.sdbc_missing.mod
  core/util/testdata/go.som_invalid.mod
  core/util/testdata/go.som_missing.mod
Labels: cc | test

feat: check go, som and sdbc version before generate (#266)
  cmd/som/gen/cmd.go
  compose.yml
  core/generate.go
  core/parser/parse.go
  core/util/gomod/mod.go
  core/util/gomod/mod_test.go
  core/util/gomod/testdata/go.invalid.mod
  core/util/gomod/testdata/go.outdated.mod
  core/util/gomod/testdata/go.valid.mod
  core/util/gomod/versions.go
  core/util/mod.go
  docs/ideas.md
  go.mod
  go.sum
  go.work.sum
Labels: cc | build, cc | docs, cc | test

feat: implement password field type
  core/parser/parse.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/schema/tables.surql
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/model/all_field_types.go
Labels: none

wip
  exp/field/field.go
  exp/main.go
  exp/model/subdir/some.go
  exp/model/user.go
  exp/parser/parse.base.go
  exp/parser/parse.decl.go
  exp/parser/parse.expr.go
  exp/parser/parse.go
  exp/parser/parse.pkg.go
  exp/parser/parse.spec.go
Labels: none

feat: filter by direct field comparison
  core/embed/som/internal/lib/filter.string.go
  core/embed/som/internal/lib/key.go
  tests/basic/gen/som/internal/lib/filter.string.go
  tests/basic/gen/som/internal/lib/key.go
  tests/basic/som_base_test.go
  tests/basic/som_filter_internal_test.go
Labels: cc | test

wip
  README.md
  docs/ideas.md
Labels: cc | docs

refactor: static param name in generated code
  core/codegen/base.builder.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
Labels: none

refactor: static param name in generated code (#301)
  core/codegen/base.builder.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
Labels: none

fix
  tests/basic/som_filter_internal_test.go
Labels: cc | test

fix
  tests/basic/som_base_test.go
Labels: cc | test

.github/labeler.yml:

# Labeler Config

cc | build:
  - changed-files:
    - any-glob-to-any-file:
      - go.mod
      - go.sum

cc | ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*

cc | docs:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - docs/**/*

cc | test:
  - changed-files:
    - any-glob-to-any-file:
      - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
