Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

chore: cleanup go environment
  examples/basic/go.mod
  examples/basic/go.sum
  examples/movie/go.mod
  examples/movie/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
Labels: cc | build

build: cleanup go environment (#149)
  examples/basic/go.mod
  examples/basic/go.sum
  examples/movie/go.mod
  examples/movie/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
Labels: cc | build

update
  .tool-versions
  README.md
  go.work.sum
Labels: cc | docs

chore: update readme & .gitattributes (#150)
  .gitattributes
  README.md
Labels: cc | docs

update
  examples/basic/som_test.go
Labels: cc | test

wip
  core/api/api.go
  go.mod
  go.sum
  go.work.sum
  sdbd/client.go
  sdbd/methods.go
  sdbd/options.go
  sdbd/registry.go
  sdbd/requests.go
Labels: cc | build

update
  core/api/api.go
  sdbd/client.go
  sdbd/live_queries.go
  sdbd/methods.go
  sdbd/options.go
  sdbd/registry.go
  sdbd/requests.go
Labels: none

wip
  core/api/api.go
  docker-compose.yml
  go.mod
  go.sum
  go.work.sum
  sdbd/client.go
  sdbd/client_test.go
  sdbd/methods.go
  sdbd/registry.go
Labels: cc | build, cc | test

feat: add transaction wrapping to schema definition
  core/codegen/base.builder.go
  core/codegen/def/def.go
  core/codegen/field/table.node.go
  core/codegen/field/table.node_test.go
  examples/.envrc
  examples/.tool-versions
  examples/basic/gen/som/som.schema.go
  examples/basic/go.mod
  examples/movie/gen/som/som.schema.go
  examples/movie/go.sum
  examples/testing/gen/som/som.schema.go
  examples/testing/go.mod
  examples/testing/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
Labels: cc | build, cc | test

feat: add transaction wrapping to schema definition (#156)
  core/codegen/base.builder.go
  core/codegen/def/def.go
  core/codegen/field/table.node.go
  core/codegen/field/table.node_test.go
  examples/.envrc
  examples/.tool-versions
  examples/basic/gen/som/som.schema.go
  examples/basic/go.mod
  examples/movie/gen/som/som.schema.go
  examples/movie/go.sum
  examples/testing/gen/som/som.schema.go
  examples/testing/go.mod
  examples/testing/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
Labels: cc | build, cc | test

fix tests
  core/codegen/base.builder.go
  examples/basic/gen/som/som.client.go
  examples/basic/gen/som/som.interfaces.go
  examples/basic/som_test.go
  examples/movie/gen/som/som.client.go
  examples/movie/gen/som/som.interfaces.go
  examples/movie/som_test.go
  examples/testing/gen/som/som.client.go
  examples/testing/gen/som/som.interfaces.go
  examples/testing/som_test.go
Labels: cc | test

update
  examples/basic/query_test.go
  go.mod
Labels: cc | build, cc | test

update
  core/codegen/base.builder.go
  examples/basic/gen/som/som.client.go
  examples/basic/som_test.go
  examples/movie/gen/som/som.client.go
  examples/movie/som_test.go
  examples/testing/gen/som/som.client.go
  examples/testing/som_test.go
Labels: cc | test

fix: tests (#157)
  core/codegen/base.builder.go
  examples/basic/gen/som/som.client.go
  examples/basic/gen/som/som.interfaces.go
  examples/basic/query_test.go
  examples/basic/som_test.go
  examples/movie/gen/som/som.client.go
  examples/movie/gen/som/som.interfaces.go
  examples/movie/som_test.go
  examples/testing/gen/som/som.client.go
  examples/testing/gen/som/som.interfaces.go
  examples/testing/som_test.go
  go.mod
Labels: cc | build, cc | test

test: switch to surrealdb nightly until next beta
  docker-compose.yml
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/som_test.go
Labels: cc | test

ci: add examples to tests during pr checks
  .github/workflows/pull_request.yml
Labels: cc | ci

ci: run tests for examples during pr checks (#159)
  .github/workflows/pull_request.yml
Labels: cc | ci

docs: add ideas
  docs/ideas.md
Labels: cc | docs

update
  examples/basic/gen/som/query/node.user.go
  examples/basic/repo/user.go
  go.sum
Labels: cc | build

update
  examples/testing/go.mod
  examples/testing/go.sum
  examples/testing/som_test.go
  go.sum
  go.work.sum
Labels: cc | build, cc | test

test: switch to surrealdb nightly until beta 10 is released (#158)
  docker-compose.yml
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/go.mod
  examples/testing/go.sum
  examples/testing/som_test.go
  go.sum
  go.work.sum
Labels: cc | build, cc | test

fix: schema needs to set option<?> types accordingly
  core/codegen/build.conv.go
  core/codegen/field/base.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.uuid.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/som.schema.go
  examples/movie/gen/som/conv/conv.go
  examples/movie/gen/som/som.schema.go
  examples/testing/gen/som/conv/conv.go
  examples/testing/gen/som/som.schema.go
Labels: none

fix: schema needs to set option<?> types for nilable fields (#161)
  core/codegen/build.conv.go
  core/codegen/field/base.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.uuid.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/som.schema.go
  examples/movie/gen/som/conv/conv.go
  examples/movie/gen/som/som.schema.go
  examples/testing/gen/som/conv/conv.go
  examples/testing/gen/som/som.schema.go
Labels: none

feat: add assert for uuid fields to schema
  core/codegen/field/field.uuid.go
  examples/basic/gen/som/som.schema.go
  examples/basic/som_test.go
Labels: cc | test

feat: add support for url.URL type
  core/codegen/build.conv.go
  core/codegen/def/def.go
  core/codegen/field/convert.go
  core/codegen/field/field.url.go
  core/parser/field.go
  core/parser/parse.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/som.schema.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/model/user.go
  examples/movie/gen/som/conv/conv.go
  examples/testing/gen/som/conv/conv.go
Labels: none

feat: add assert for uuid fields to schema (#162)
  core/codegen/field/field.uuid.go
  examples/basic/gen/som/som.schema.go
  examples/basic/som_test.go
Labels: cc | test

wip
  core/codegen/build.conv.go
  core/codegen/field/convert.go
  core/codegen/field/field.duration.go
  core/embed/lib/filter.go
  core/parser/field.go
  core/parser/parse.go
  examples/basic/gen/som/by/node.user.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/internal/lib/filter.go
  examples/basic/gen/som/som.schema.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/model/user.go
  examples/basic/som_test.go
  examples/movie/gen/som/conv/conv.go
  examples/movie/gen/som/internal/lib/filter.go
  examples/testing/gen/som/conv/conv.go
  examples/testing/gen/som/internal/lib/filter.go
Labels: cc | test

Add id field definition to schema
  core/codegen/base.builder.go
  examples/basic/gen/som/som.schema.go
  examples/movie/gen/som/som.schema.go
  examples/testing/gen/som/som.schema.go
Labels: none

feat: add id field definition to generated schema (#165)
  core/codegen/base.builder.go
  examples/basic/gen/som/som.schema.go
  examples/movie/gen/som/som.schema.go
  examples/testing/gen/som/som.schema.go
Labels: none

feat: optimise conv of uuid type
  core/codegen/build.conv.go
  core/codegen/field/field.uuid.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/conv/object.some_struct.go
  examples/movie/gen/som/conv/conv.go
  examples/testing/gen/som/conv/conv.go
Labels: none

cleanup
  core/codegen/build.conv.go
Labels: none

update
  core/codegen/build.conv.go
  core/codegen/field/field.uuid.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/conv/object.some_struct.go
  examples/movie/gen/som/conv/conv.go
  examples/testing/gen/som/conv/conv.go
Labels: none

refactor: simplify conv of uuid type (#166)
  core/codegen/build.conv.go
  core/codegen/field/field.uuid.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/conv/object.some_struct.go
  examples/movie/gen/som/conv/conv.go
  examples/testing/gen/som/conv/conv.go
Labels: none

moved base conv.go file
  core/codegen/build.conv.go
  core/embed/conv/conv.go
  core/embed/embed.go
  examples/movie/gen/som/conv/conv.go
  examples/testing/gen/som/conv/conv.go
Labels: none

embed static base files
  core/codegen/base.builder.go
  core/codegen/util.go
  core/embed/embed.go
  core/embed/som/som.client.go
  core/embed/som/som.database.go
  core/embed/som/som.functions.go
  examples/movie/gen/som/som.client.go
  examples/movie/gen/som/som.functions.go
  examples/testing/gen/som/som.client.go
  examples/testing/gen/som/som.functions.go
Labels: none

move other static files to embed
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  core/embed/embed.go
  core/embed/fetch/fetch.go
  core/embed/query/query.go
  core/embed/relate/relate.go
  core/embed/sort/sort.go
Labels: none

refactor: move static code to embed files (#170)
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  core/codegen/util.go
  core/embed/conv/conv.go
  core/embed/embed.go
  core/embed/fetch/fetch.go
  core/embed/query/query.go
  core/embed/relate/relate.go
  core/embed/som/som.client.go
  core/embed/som/som.database.go
  core/embed/som/som.functions.go
  core/embed/sort/sort.go
  examples/movie/gen/som/conv/conv.go
  examples/movie/gen/som/som.client.go
  examples/movie/gen/som/som.functions.go
  examples/testing/gen/som/conv/conv.go
  examples/testing/gen/som/som.client.go
  examples/testing/gen/som/som.functions.go
Labels: none

update
  core/codegen/field/field.url.go
  core/embed/conv/conv.go
  examples/basic/gen/som/conv/conv.go
  examples/movie/gen/som/conv/conv.go
  examples/testing/gen/som/conv/conv.go
Labels: none

feat: add async methods to query builder
  core/codegen/build.query.go
  core/embed/query/query.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/query/query.go
  examples/basic/go.mod
  examples/basic/go.sum
  examples/basic/som_test.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/query/query.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
  examples/testing/gen/som/query/query.go
Labels: cc | test

wip
  SECURITY.md
Labels: none

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
