Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

Update
  go.mod
  go.sum
Labels: cc | build

refactoring
  README.md
  Taskfile.yml
  core/codegen/build.filter.go
  core/codegen/build.query.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.id.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.uuid.go
  docs/ideas.md
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
  example/gen/som/where/edge.member_of.go
  example/gen/som/where/node.group.go
  example/gen/som/where/node.user.go
  example/gen/som/where/object.login.go
  example/gen/som/where/object.member_of_meta.go
  example/gen/som/where/object.some_struct.go
  example/gen/som/where/where.go
  example/som_test.go
  history.txt
  lefthook.yml
  lib/builder.query.go
  lib/filter.go
  lib/key.go
  test/main.go
Labels: cc | docs, cc | test

update
  core/codegen/build.filter.go
  example/gen/som/where/edge.member_of.go
  example/som_test.go
Labels: cc | test

update
  core/codegen/build.filter.go
  core/codegen/build.query.go
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
  example/gen/som/where/edge.member_of.go
  example/som_test.go
Labels: cc | test

update
  core/codegen/build.filter.go
  core/codegen/field/context.go
  core/codegen/field/field.node.go
  core/codegen/field/field.slice.go
  example/gen/som/conv/edge.group_member.go
  example/gen/som/conv/edge.member_of.go
  example/gen/som/conv/node.group.go
  example/gen/som/conv/node.user.go
  example/gen/som/conv/object.group_member_meta.go
  example/gen/som/relate/edge.group_member.go
  example/gen/som/relate/node.group.go
  example/gen/som/relate/node.user.go
  example/gen/som/schema.go
  example/gen/som/where/edge.group_member.go
  example/gen/som/where/edge.member_of.go
  example/gen/som/where/node.group.go
  example/gen/som/where/node.user.go
  example/gen/som/where/object.group_member_meta.go
  example/gen/som/where/object.login.go
  example/gen/som/where/object.some_struct.go
  example/model/user.go
  example/repo/user.go
  example/som_test.go
Labels: cc | test

cleanup
  README.md
  core/codegen/build.filter.go
  docs/ideas.md
  history.txt
  lefthook.yml
Labels: cc | docs

docs: add ideas document
  docs/ideas.md
Labels: cc | docs

chore: add lefthook setup
  lefthook.yml
Labels: none

move current example to examples/basic
  examples/basic/gen/som/by/node.group.go
  examples/basic/gen/som/by/node.user.go
  examples/basic/gen/som/by/sort.go
  examples/basic/gen/som/client.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/edge.group_member.go
  examples/basic/gen/som/conv/node.group.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/conv/object.group_member_meta.go
  examples/basic/gen/som/conv/object.login.go
  examples/basic/gen/som/conv/object.some_struct.go
  examples/basic/gen/som/database.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/query/query.go
  examples/basic/gen/som/relate/edge.group_member.go
  examples/basic/gen/som/relate/node.group.go
  examples/basic/gen/som/relate/node.user.go
  examples/basic/gen/som/relate/relate.go
  examples/basic/gen/som/schema.go
  examples/basic/gen/som/where/edge.group_member.go
  examples/basic/gen/som/where/node.group.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/gen/som/where/object.group_member_meta.go
  examples/basic/gen/som/where/object.login.go
  examples/basic/gen/som/where/object.some_struct.go
  examples/basic/gen/som/where/where.go
  examples/basic/gen/som/with/fetch.go
  examples/basic/gen/som/with/node.group.go
  examples/basic/gen/som/with/node.user.go
  examples/basic/model/user.go
  examples/basic/repo/group.go
  examples/basic/repo/user.go
  examples/basic/som_test.go
Labels: cc | test

WIP
  example/model/user.go
  exp/main.go
  exp/parser/parse.go
  exp/parser/parser.go
  som.go
Labels: none

fix: record links
  core/codegen/build.conv.go
  core/codegen/field/field.node.go
  core/codegen/field/field.slice.go
  example/gen/som/by/node.user.go
  example/gen/som/conv/conv.go
  example/gen/som/conv/node.group.go
  example/gen/som/conv/node.user.go
  example/gen/som/schema.go
  example/gen/som/where/node.user.go
  example/gen/som/with/node.user.go
  example/model/user.go
Labels: none

wip
  docs/ideas.md
  som.go
Labels: cc | docs

fix: record links (#98)
  core/codegen/build.conv.go
  core/codegen/field/field.node.go
  core/codegen/field/field.slice.go
  example/gen/som/by/node.user.go
  example/gen/som/conv/conv.go
  example/gen/som/conv/node.group.go
  example/gen/som/conv/node.user.go
  example/gen/som/schema.go
  example/gen/som/where/node.user.go
  example/gen/som/with/node.user.go
  example/model/user.go
Labels: none

docs: add ideas document (#92)
  docs/ideas.md
Labels: cc | docs

cleanup generated code
  core/codegen/base.builder.go
  core/codegen/base.input.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.filter.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  example/gen/som/by/node.user.go
  example/gen/som/conv/edge.group_member.go
  example/gen/som/conv/node.group.go
  example/gen/som/conv/node.user.go
  example/gen/som/conv/object.group_member_meta.go
  example/gen/som/conv/object.login.go
  example/gen/som/conv/object.some_struct.go
  example/gen/som/node.group.go
  example/gen/som/node.user.go
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
  example/gen/som/relate/edge.group_member.go
  example/gen/som/where/edge.group_member.go
  example/gen/som/where/node.user.go
  example/gen/som/where/object.group_member_meta.go
  example/gen/som/where/object.login.go
  example/gen/som/where/object.some_struct.go
  example/gen/som/with/node.user.go
Labels: none

Update .tool-versions
  .tool-versions
Labels: none

ci: optimise renovate config
  .github/renovate.json
Labels: cc | ci

chore: cleanup generated code (#102)
  core/codegen/base.builder.go
  core/codegen/base.input.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.filter.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  example/gen/som/by/node.user.go
  example/gen/som/conv/edge.group_member.go
  example/gen/som/conv/node.group.go
  example/gen/som/conv/node.user.go
  example/gen/som/conv/object.group_member_meta.go
  example/gen/som/conv/object.login.go
  example/gen/som/conv/object.some_struct.go
  example/gen/som/node.group.go
  example/gen/som/node.user.go
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
  example/gen/som/relate/edge.group_member.go
  example/gen/som/where/edge.group_member.go
  example/gen/som/where/node.user.go
  example/gen/som/where/object.group_member_meta.go
  example/gen/som/where/object.login.go
  example/gen/som/where/object.some_struct.go
  example/gen/som/with/node.user.go
Labels: none

update
  lefthook.yml
Labels: none

test
  lefthook.yml
Labels: none

update
  lefthook.yml
Labels: none

chore: add lefthook setup (#93)
  lefthook.yml
Labels: none

update
  .github/renovate.json
Labels: cc | ci

ci: optimise renovate config (#103)
  .github/renovate.json
Labels: cc | ci

wip; move example to examples/basic
  README.md
  ROADMAP.md
  Taskfile.yml
  core/codegen/field/field.enum.go
  core/generate.go
  core/parser/parse.go
  core/util/mod.go
  examples/basic/gen.go
  examples/basic/gen/som/by/node.group.go
  examples/basic/gen/som/by/node.user.go
  examples/basic/gen/som/conv/edge.group_member.go
  examples/basic/gen/som/conv/node.group.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/conv/object.group_member_meta.go
  examples/basic/gen/som/conv/object.login.go
  examples/basic/gen/som/conv/object.some_struct.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/relate/edge.group_member.go
  examples/basic/gen/som/schema.go
  examples/basic/gen/som/where/edge.group_member.go
  examples/basic/gen/som/where/node.group.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/gen/som/where/object.group_member_meta.go
  examples/basic/gen/som/where/object.login.go
  examples/basic/gen/som/where/object.some_struct.go
  examples/basic/gen/som/with/node.group.go
  examples/basic/gen/som/with/node.user.go
  examples/basic/go.mod
  examples/basic/repo/group.go
  examples/basic/repo/user.go
  examples/basic/som_test.go
  examples/main.go.bak
  go.mod
  go.work
  go.work.sum
Labels: cc | build, cc | docs, cc | test

Apply dependency sync
  go.work.sum
Labels: none

wip
  example/gen/som/client.go
  example/gen/som/node.user.go
  example/gen/som/query/node.user.go
  example/repo/user.go
Labels: none

ci: update renovate config
  .github/renovate.json
Labels: cc | ci

ci: update renovate config (#111)
  .github/renovate.json
Labels: cc | ci

build: update go.mod dependencies
  go.mod
  go.sum
Labels: cc | build

update
  go.mod
  go.sum
Labels: cc | build

update
  example/som_test.go
  go.mod
  go.sum
Labels: cc | build, cc | test

build: update go.mod dependencies (#113)
  example/som_test.go
  go.mod
  go.sum
Labels: cc | build, cc | test

update
  Taskfile.yml
  examples/basic/go.mod
  examples/basic/go.sum
  examples/movie/go.mod
  examples/movie/go.sum
  examples/movie/som_test.go
  go.mod
  go.sum
  go.work.sum
Labels: cc | build, cc | test

Apply dependency sync
  go.work.sum
Labels: none

update
  .golangci.yml
Labels: none

feat: make generated code mockable by using interfaces
  FAQ.md
  core/codegen/base.builder.go
  core/codegen/build.query.go
  core/codegen/field/table.node.go
  docs/ideas.md
  example/gen/som/node.group.go
  example/gen/som/node.user.go
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
  example/gen/som/query/query.go
  example/gen/som/som.client.go
  example/gen/som/som.database.go
  example/gen/som/som.interfaces.go
  example/gen/som/som.schema.go
  example/repo/group.go
  example/repo/user.go
  example/som_test.go
  example/testutil/testutil.go
  go.mod
  go.sum
  lib/builder.sort.go
  lib/filter.go
  lib/sort.go
  test/main.go
Labels: cc | build, cc | docs, cc | test

add comments to queries
  CONTRIBUTING.md
  core/codegen/build.query.go
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
Labels: none

cleanup
  core/codegen/build.query.go
  example/gen/som/query/query.go
  example/repo/user.go
  lib/builder.sort.go
Labels: none

feat: make generated code mockable by using interfaces (#112)
  CONTRIBUTING.md
  FAQ.md
  core/codegen/base.builder.go
  core/codegen/build.query.go
  core/codegen/field/table.node.go
  docs/ideas.md
  example/gen/som/node.group.go
  example/gen/som/node.user.go
  example/gen/som/query/node.group.go
  example/gen/som/query/node.user.go
  example/gen/som/som.client.go
  example/gen/som/som.database.go
  example/gen/som/som.interfaces.go
  example/gen/som/som.schema.go
  example/repo/group.go
  example/repo/user.go
  example/som_test.go
  example/testutil/testutil.go
  go.mod
  go.sum
  lib/filter.go
  lib/sort.go
  test/main.go
Labels: cc | build, cc | docs, cc | test

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
