Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style

update
  tests/basic/go.mod
  tests/basic/go.sum
Labels: none

build: update go dependencies (#258)
  go.mod
  go.sum
  go.work.sum
  tests/basic/go.mod
  tests/basic/go.sum
Labels: cc | build

Apply dependency sync
  go.work.sum
Labels: none

cleanup
  go.work.sum
  tests/basic/go.mod
  tests/basic/go.sum
Labels: none

recreate dep files
  go.mod
  go.sum
  go.work.sum
Labels: cc | build

build(fix): update vulnerable indirect dependencies (#260)
  go.mod
  go.sum
  go.work.sum
  tests/basic/go.mod
  tests/basic/go.sum
Labels: cc | build

update
  go.mod
  go.sum
  go.work.sum
  tests/basic/go.mod
  tests/basic/go.sum
  tests/basic/som_live_test.go
Labels: cc | build, cc | test

fixup
  tests/basic/go.mod
  tests/basic/som_live_test.go
Labels: cc | test

update sdbc
  go.work.sum
  tests/basic/go.mod
Labels: none

fix: filter for live queries (#259)
  core/embed/query/builder.go
  go.mod
  go.sum
  go.work.sum
  tests/basic/gen/som/query/builder.go
  tests/basic/go.mod
  tests/basic/go.sum
  tests/basic/som_live_test.go
Labels: cc | build, cc | test

update
  core/embed/query/builder.go
  tests/basic/gen/som/query/builder.go
  tests/basic/som_count_test.go
  tests/basic/som_live_test.go
Labels: cc | test

update
  tests/basic/som_live_test.go
Labels: cc | test

add comment
  core/embed/query/builder.go
Labels: none

gen
  tests/basic/gen/som/query/builder.go
Labels: none

feat: implement live count method (#234)
  core/embed/query/builder.go
  tests/basic/gen/som/query/builder.go
  tests/basic/som_live_test.go
Labels: cc | test

update
  core/codegen/base.builder.go
Labels: none

gen
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
Labels: none

feat: generate comments for repo methods (#247)
  core/codegen/base.builder.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
Labels: none

ci: optimise workflows and renovate setup
  .github/renovate.json
  .github/workflows/pull_request.yml
Labels: cc | ci

ci: optimise workflows and renovate setup (#261)
  .github/renovate.json
  .github/workflows/pull_request.yml
Labels: cc | ci

wip
  README.md
Labels: cc | docs

test: use sdbc v0.4.0 to test against
  go.mod
  go.sum
  go.work.sum
  tests/basic/go.mod
  tests/basic/go.sum
Labels: cc | build

Apply dependency sync
  go.work.sum
Labels: none

update
  core/embed/som/som.client.go
  go.work.sum
  tests/basic/gen/som/som.client.go
  tests/basic/som_prepare_test.go
Labels: cc | test

test: use sdbc v0.4.0 (#262)
  core/embed/som/som.client.go
  go.mod
  go.sum
  go.work.sum
  tests/basic/gen/som/som.client.go
  tests/basic/go.mod
  tests/basic/go.sum
  tests/basic/som_prepare_test.go
Labels: cc | build, cc | test

fix: hardcoded import path in embedded file
  cmd/somgen/main.go
  cmd/somgen/sub/surreal.go
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  core/embed/embed.go
  core/embed/query/builder.go
  go.mod
  go.sum
  go.work.sum
  tests/basic/gen/som/query/builder.go
Labels: cc | build

cleanup
  core/codegen/base.builder.go
Labels: none

fix: hardcoded import path in embedded file (#263)
  cmd/somgen/main.go
  cmd/somgen/sub/surreal.go
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.fetch.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/build.sort.go
  core/embed/embed.go
  core/embed/query/builder.go
  go.mod
  go.sum
  go.work.sum
  tests/basic/gen/som/query/builder.go
Labels: cc | build

update
  README.md
  buildtime/buildtime.go
  buildtime/get_version.sh
  cmd/som/gen/cmd.go
  cmd/som/main.go
  tests/basic/gen.go
Labels: cc | docs

fix
  .github/workflows/pull_request.yml
  .gitignore
Labels: cc | ci

fix workflow
  .github/workflows/codeql.yml
Labels: cc | ci

refactor: optimise cli setup (#221)
  .github/workflows/codeql.yml
  .github/workflows/pull_request.yml
  README.md
  cmd/som/gen/cmd.go
  cmd/som/main.go
  cmd/somgen/main.go
  tests/basic/gen.go
Labels: cc | ci, cc | docs

feat: better schema definition
  core/codegen/base.builder.go
Labels: none

gen
  tests/basic/gen/som/som.schema.go
Labels: none

feat: add table types to generated schema definition (#264)
  core/codegen/base.builder.go
  tests/basic/gen/som/som.schema.go
Labels: none

feat: optimise schema definition for timestamps
  core/codegen/field/field.time.go
  tests/basic/gen/som/som.schema.go
Labels: none

update
  core/codegen/field/field.time.go
Labels: none

feat: optimise schema definition for timestamps (#265)
  core/codegen/field/field.time.go
  tests/basic/gen/som/som.schema.go
Labels: none

feat: check go, som and sdbc version before generate
  cmd/som/gen/cmd.go
  core/generate.go
  core/parser/parse.go
  core/util/gen.go
  core/util/mod.go
  core/util/mod_test.go
  core/util/testdata/go.invalid.mod
  core/util/testdata/go.sdbc_invalid.mod
  core/util/testdata/go.sdbc_missing.mod
  core/util/testdata/go.som_invalid.mod
  core/util/testdata/go.som_missing.mod
  core/util/testdata/go.valid.mod
  core/util/versions.go
Labels: cc | test

update
  core/codegen/base.builder.go
  core/codegen/build.define.go
  core/codegen/def/def.go
  core/embed/define/define.go
  core/embed/embed.go
  core/embed/som/som.define.go
  go.mod
  go.sum
  go.work.sum
  tests/basic/define.go
  tests/basic/gen/som/define/define.go
  tests/basic/gen/som/define/node.all_field_types.go
  tests/basic/gen/som/define/node.fields_like_db_response.go
  tests/basic/gen/som/define/node.group.go
  tests/basic/gen/som/som.define.go
  tests/basic/go.mod
  tests/basic/go.sum
Labels: cc | build
