Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

perf: optimise query builder string concat
  core/embed/lib/builder.query.go
  examples/basic/gen/som/internal/lib/builder.query.go
  examples/movie/gen/som/internal/lib/builder.query.go
  examples/testing/gen/som/internal/lib/builder.query.go
Labels: none

feat: add async methods to query builder (#171)
  core/codegen/build.query.go
  core/embed/query/query.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/query/query.go
  examples/basic/go.mod
  examples/basic/go.sum
  examples/basic/som_test.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/query/query.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
  examples/testing/gen/som/query/query.go
Labels: cc | test

perf: optimise query builder string concat (#173)
  core/embed/lib/builder.query.go
  examples/basic/gen/som/internal/lib/builder.query.go
  examples/movie/gen/som/internal/lib/builder.query.go
  examples/testing/gen/som/internal/lib/builder.query.go
Labels: none

Update examples/testing/go.mod
  examples/testing/go.mod
Labels: none

feat: add support for missing native types
  core/codegen/field/field.numeric.go
  core/parser/field.go
  core/parser/parse.go
  examples/basic/gen/som/by/node.user.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/som.schema.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/model/user.go
Labels: none

cleanup
  go.work.sum
Labels: none

feat: switch to surrealdb strict mode
  core/embed/som/som.client.go
  docker-compose.yml
  examples/basic/gen/som/som.client.go
  examples/basic/go.mod
  examples/basic/som_test.go
  examples/movie/gen/som/query/query.go
  examples/movie/gen/som/som.client.go
  examples/movie/go.mod
  examples/movie/som_test.go
  examples/testing/gen/som/query/query.go
  examples/testing/gen/som/som.client.go
  examples/testing/go.mod
  examples/testing/som_test.go
  go.mod
  go.work.sum
Labels: cc | build, cc | test

feat: add surrealdb strict-mode compatibility (#175)
  core/embed/som/som.client.go
  docker-compose.yml
  examples/basic/gen/som/som.client.go
  examples/basic/go.mod
  examples/basic/som_test.go
  examples/movie/gen/som/query/query.go
  examples/movie/gen/som/som.client.go
  examples/movie/go.mod
  examples/movie/som_test.go
  examples/testing/gen/som/query/query.go
  examples/testing/gen/som/som.client.go
  examples/testing/go.mod
  examples/testing/som_test.go
  go.mod
  go.work.sum
Labels: cc | build, cc | test

wip
  exp/field/field.go
  exp/main.go
  exp/model/user.go
  exp/parser/parse.go
  exp/parser/parser.go
Labels: none

update
  .tool-versions
  examples/.tool-versions
  go.mod
  go.work
Labels: cc | build

cleanup workflows
  .github/workflows/pull_request.yml
Labels: cc | ci

Apply dependency sync
  go.work.sum
Labels: none

update
  SECURITY.md
Labels: none

update
  examples/basic/som_test.go
  sdbd/client.go
  sdbd/client_test.go
  sdbd/json.go
  sdbd/live_queries.go
  sdbd/methods.go
  sdbd/registry.go
  sdbd/requests.go
Labels: cc | test

build: add go1.21 loopvar setup
  .envrc
  .github/workflows/pull_request.yml
  Taskfile.yml
Labels: cc | ci

update
  docs/ideas.md
Labels: cc | docs

update
  docs/ideas.md
Labels: cc | docs

fix syntax errors for new sdb client version
  cmd/somgen/sub/surreal.go
  core/codegen/base.builder.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  core/codegen/def/def.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/relate/edge.group_member.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/relate/edge.acted_in.go
  examples/movie/gen/som/relate/edge.directed.go
  examples/testing/gen/som/node.fields_like_db_response.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
Labels: none

fix: apply schema with transaction not working
  core/codegen/base.builder.go
Labels: none

gen
  examples/basic/gen/som/som.schema.go
  examples/movie/gen/som/som.schema.go
  examples/testing/gen/som/som.schema.go
Labels: none

fix: apply schema with transaction is broken (#186)
  core/codegen/base.builder.go
  examples/basic/gen/som/som.schema.go
  examples/movie/gen/som/som.schema.go
  examples/testing/gen/som/som.schema.go
Labels: none

fix 'parse error' response when sending via writer
  docker-compose.yml
  go.work.sum
  sdbd/client.go
  sdbd/client_test.go
  sdbd/json.go
  sdbd/methods.go
  sdbd/registry.go
Labels: cc | test

fix: add capabilities flag allow-funcs to surreal startups
  docker-compose.yml
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/som_test.go
Labels: cc | test

update
  core/codegen/base.builder.go
  core/codegen/field/base.go
  core/codegen/field/field.node.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.uuid.go
  examples/basic/gen/som/som.schema.go
  examples/movie/gen/som/som.schema.go
  examples/testing/gen/som/som.schema.go
Labels: none

fix: apply latest surrealdb nightly changes (#187)
  core/codegen/base.builder.go
  core/codegen/field/base.go
  core/codegen/field/field.node.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.uuid.go
  docker-compose.yml
  examples/basic/gen/som/som.schema.go
  examples/basic/som_test.go
  examples/movie/gen/som/som.schema.go
  examples/movie/som_test.go
  examples/testing/gen/som/som.schema.go
  examples/testing/som_test.go
Labels: cc | test

switch to surrealdb v1.0.0-beta.10
  docker-compose.yml
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/som_test.go
Labels: cc | test

test: switch to surrealdb v1.0.0-beta.10 (#188)
  docker-compose.yml
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/som_test.go
Labels: cc | test

cleanup
  sdbc/json.go
  sdbc/methods.go
Labels: none

refactoring & cleanup
  docker-compose.yml
  sdbc/client.go
  sdbc/client_test.go
  sdbc/json.go
  sdbc/live_queries.go
  sdbc/methods.go
  sdbc/options.go
  sdbc/requests.go
  sdbc/response.go
  sdbc/stores.go
  sdbc/types.go
Labels: cc | test

fix tests
  sdbc/client_test.go
Labels: cc | test

fix
  sdbc/methods.go
  sdbc/response.go
Labels: none

cleanup
  core/api/api.go
  sdbc/methods.go
  sdbc/response.go
  sdbc/types.go
Labels: none

more tests & live query fixup
  core/api/api.go
  sdbc/client_test.go
  sdbc/methods.go
  sdbc/response.go
  sdbc/types.go
Labels: cc | test

cleanup
  Taskfile.yml
  cmd/somgen/main.go
  cmd/somgen/sub/test.go
  core/api/api.go
  core/embed/som/som.database.go
  examples/basic/gen/som/som.database.go
  examples/movie/gen/som/som.database.go
  examples/testing/gen/som/som.database.go
  sdbc/client.go
  sdbc/client_test.go
  sdbc/methods.go
Labels: cc | test

Update sdbc/response.go
  sdbc/response.go
Labels: none

cleanup
  sdbc/response.go
Labels: none

fix: cleanup exp/slices usage & go deps
  core/codegen/field/field.enum.go
  examples/basic/go.mod
  examples/basic/go.sum
  examples/movie/go.mod
  examples/movie/go.sum
  examples/testing/go.mod
  examples/testing/go.sum
  go.mod
Labels: cc | build

update
  core/codegen/base.builder.go
  core/codegen/build.query.go
  core/embed/lib/builder.query.go
  examples/basic/gen/som/internal/lib/builder.query.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/go.mod
  examples/basic/go.sum
Labels: none

build: cleanup exp/slices usage & go deps (#190)
  core/codegen/field/field.enum.go
  examples/basic/go.mod
  examples/basic/go.sum
  examples/movie/go.mod
  examples/movie/go.sum
  examples/testing/go.mod
  examples/testing/go.sum
  go.mod
Labels: cc | build

update
  core/codegen/field/field.numeric.go
  examples/basic/gen/som/som.schema.go
  examples/basic/som_test.go
Labels: cc | test

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
