Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

feat: switch to ulid() for node ids
  core/codegen/base.builder.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/testing/gen/som/node.fields_like_db_response.go
  examples/testing/som_test.go
Labels: cc | test

feat: create nodes with ulid as primary key (#204)
  core/codegen/base.builder.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/testing/gen/som/node.fields_like_db_response.go
  examples/testing/som_test.go
Labels: cc | test

wip
  core/codegen/build.query.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/som_test.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
Labels: cc | test

update
  core/codegen/base.builder.go
  core/codegen/field/field.time.go
  examples/basic/gen/som/conv/edge.group_member.go
  examples/basic/gen/som/conv/node.group.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/som.schema.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/testing/gen/som/node.fields_like_db_response.go
Labels: none

wip
  core/codegen/build.conv.go
  core/codegen/field/field.time.go
  core/parser/field.go
  core/parser/parse.go
  examples/basic/gen/som/conv/edge.group_member.go
  examples/basic/gen/som/conv/node.group.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/som_test.go
Labels: cc | test

test: switch to surrealdb beta.12
  README.md
  docker-compose.yml
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/som_test.go
Labels: cc | docs, cc | test

test: switch to surrealdb beta.12 (#206)
  README.md
  docker-compose.yml
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/som_test.go
Labels: cc | docs, cc | test

wip
  core/codegen/build.conv.go
  core/codegen/field/codegen.go
  core/codegen/field/field.time.go
  core/embed/conv/conv.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/edge.group_member.go
  examples/basic/gen/som/conv/node.group.go
  examples/basic/gen/som/conv/node.user.go
  examples/movie/gen/som/conv/conv.go
  examples/testing/gen/som/conv/conv.go
Labels: none

test: use surrealdb v1.0.0
  README.md
  docker-compose.yml
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/som_test.go
Labels: cc | docs, cc | test

test: use surrealdb v1.0.0 (#207)
  README.md
  docker-compose.yml
  examples/basic/som_test.go
  examples/movie/som_test.go
  examples/testing/som_test.go
Labels: cc | docs, cc | test

update
  core/codegen/field/field.time.go
  examples/basic/gen/som/conv/edge.group_member.go
  examples/basic/gen/som/conv/node.group.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/som.schema.go
Labels: none

cleanup
  core/codegen/base.builder.go
Labels: none

refactor: move timestamp handling to database schema layer (#197)
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/field/codegen.go
  core/codegen/field/field.time.go
  core/embed/conv/conv.go
  core/parser/field.go
  core/parser/parse.go
  examples/basic/gen/som/conv/conv.go
  examples/basic/gen/som/conv/edge.group_member.go
  examples/basic/gen/som/conv/node.group.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/som.schema.go
  examples/basic/som_test.go
  examples/movie/gen/som/conv/conv.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/testing/gen/som/conv/conv.go
  examples/testing/gen/som/node.fields_like_db_response.go
Labels: cc | test

chore: choose license
  LICENSE
Labels: none

fix workflow
  .github/workflows/pull_request.yml
Labels: cc | ci

rename
  tests/basic/som_base_test.go
  tests/basic/som_count_test.go
  tests/basic/som_live_test.go
  tests/basic/som_prepare_test.go
Labels: cc | test

docs: update readme & add ideas (#160)
  README.md
  docs/ideas.md
Labels: cc | docs

build: update go to 1.21.1
  .tool-versions
  README.md
  go.mod
  go.work
  tests/basic/go.mod
Labels: cc | build, cc | docs

build: update go to v1.21.1 (#211)
  .tool-versions
  README.md
  go.mod
  go.work
  tests/basic/go.mod
Labels: cc | build, cc | docs

chore: add missing project files
  .github/CODEOWNERS
Labels: cc | ci

test: use sdbc v0.1.0 to test against
  .github/workflows/pull_request.yml
  go.work.sum
  tests/basic/go.mod
Labels: cc | ci

update
  go.mod
  go.sum
  tests/.tool-versions
  tests/basic/go.mod
  tests/basic/go.sum
Labels: cc | build

cleanup
  go.work.sum
Labels: none

test(deps): use sdbc v0.1.0 to run tests against (#213)
  .github/workflows/pull_request.yml
  go.mod
  go.sum
  go.work.sum
  tests/.tool-versions
  tests/basic/go.mod
  tests/basic/go.sum
Labels: cc | build, cc | ci

update
  LICENSE
Labels: none

chore: add license (#208)
  LICENSE
Labels: none

update
  SECURITY.md
Labels: none

chore: add security file (#172)
  SECURITY.md
Labels: none

update
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  MAINTAINERS.md
  README.md
  ROADMAP.md
Labels: cc | ci, cc | docs

chore: add missing project files (#212)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  MAINTAINERS.md
  README.md
  ROADMAP.md
Labels: cc | ci, cc | docs

chore: remove changelog file for now
  CHANGELOG.md
Labels: none

chore: remove changelog file for now (#215)
  CHANGELOG.md
Labels: none

chore: add goreportcard badge
  README.md
Labels: cc | docs

chore: add goreportcard badge (#216)
  README.md
Labels: cc | docs

chore: update readme
  README.md
Labels: cc | docs

fixup
  README.md
Labels: cc | docs

chore: update readme (#217)
  README.md
Labels: cc | docs

Create codeql.yml
  .github/workflows/codeql.yml
Labels: cc | ci

Update .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Labels: cc | ci

fix
  .github/workflows/codeql.yml
Labels: cc | ci

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
