Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style

update (broken)
  core/codegen/base.builder.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.slice.go
  core/embed/lib/filter.go
  examples/basic/gen/som/som.schema.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/internal/lib/filter.go
  tests/basic/gen/som/som.schema.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/model/all_field_types.go
  tests/basic/repo/all_field_types.go
  tests/basic/som_base_test.go
Labels: cc | test

build: update go to 1.21.4
  .tool-versions
  README.md
  go.mod
  go.work
  tests/.tool-versions
  tests/basic/go.mod
Labels: cc | build, cc | docs

update
  SECURITY.md
Labels: none

build: update go to 1.21.4 (#244)
  .tool-versions
  README.md
  SECURITY.md
  go.mod
  go.work
  tests/.tool-versions
  tests/basic/go.mod
Labels: cc | build, cc | docs

fixup
  core/codegen/field/field.byte.go
  core/codegen/field/field.slice.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/som.schema.go
  tests/basic/som_base_test.go
Labels: cc | test

cleanup
  core/codegen/base.builder.go
Labels: none

feat: add support for byte and []byte fields (#119)
  core/codegen/base.builder.go
  core/codegen/field/convert.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.slice.go
  core/embed/lib/filter.go
  core/parser/field.go
  core/parser/parse.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/internal/lib/filter.go
  tests/basic/gen/som/som.schema.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/model/all_field_types.go
  tests/basic/repo/all_field_types.go
  tests/basic/som_base_test.go
Labels: cc | test

update
  core/codegen/field/field.url.go
  tests/basic/gen/som/som.schema.go
  tests/basic/som_prepare_test.go
Labels: cc | test

fixup
  core/codegen/field/field.url.go
  core/embed/lib/filter.go
  tests/basic/gen/som/internal/lib/filter.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/gen/som/where/node.url_example.go
  tests/basic/som_base_test.go
Labels: cc | test

feat: add support for net/url.URL type (#163)
  core/codegen/def/def.go
  core/codegen/field/convert.go
  core/codegen/field/field.url.go
  core/embed/conv/conv.go
  core/embed/lib/filter.go
  core/parser/field.go
  core/parser/parse.go
  tests/basic/gen/som/by/node.url_example.go
  tests/basic/gen/som/conv/conv.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/conv/node.url_example.go
  tests/basic/gen/som/internal/lib/filter.go
  tests/basic/gen/som/node.url_example.go
  tests/basic/gen/som/query/node.url_example.go
  tests/basic/gen/som/relate/node.url_example.go
  tests/basic/gen/som/som.interfaces.go
  tests/basic/gen/som/som.schema.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/gen/som/where/node.url_example.go
  tests/basic/gen/som/with/node.url_example.go
  tests/basic/model/all_field_types.go
  tests/basic/model/url_example.go
  tests/basic/som_base_test.go
  tests/basic/som_prepare_test.go
Labels: cc | test

fixup
  core/embed/som/som.options.go
  tests/basic/gen/som/som.options.go
Labels: none

update
  core/codegen/def/def.go
  core/codegen/field/field.numeric.go
  core/parser/field.go
  core/parser/parse.go
  tests/basic/gen/som/by/node.all_field_types.go
  tests/basic/gen/som/conv/conv.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/som.schema.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/model/all_field_types.go
  tests/basic/som_base_test.go
  tests/basic/som_prepare_test.go
Labels: cc | test

update
  README.md
  core/codegen/field/field.numeric.go
  core/parser/field.go
  core/parser/parse.go
  tests/basic/gen/som/by/node.all_field_types.go
  tests/basic/gen/som/conv/conv.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/som.schema.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/model/all_field_types.go
  tests/basic/som_base_test.go
Labels: cc | docs, cc | test

fixup
  tests/basic/go.mod
Labels: none

feat: add support for missing native numeric types (#174)
  README.md
  core/codegen/def/def.go
  core/codegen/field/field.numeric.go
  core/embed/conv/conv.go
  core/embed/som/som.options.go
  core/parser/field.go
  core/parser/parse.go
  go.work.sum
  tests/basic/gen/som/by/node.all_field_types.go
  tests/basic/gen/som/conv/conv.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/som.options.go
  tests/basic/gen/som/som.schema.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/model/all_field_types.go
  tests/basic/som_base_test.go
  tests/basic/som_prepare_test.go
Labels: cc | docs, cc | test

wip
  README.md
  core/codegen/base.builder.go
  core/codegen/build.query.go
  core/embed/query/base.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
  tests/basic/gen/som/query/base.go
  tests/basic/gen/som/query/node.all_field_types.go
  tests/basic/gen/som/query/node.fields_like_db_response.go
  tests/basic/gen/som/query/node.group.go
  tests/basic/gen/som/query/node.url_example.go
Labels: cc | docs

fixup
  core/embed/query/base.go
  tests/basic/gen/som/query/base.go
Labels: none

update
  core/codegen/build.query.go
  core/embed/query/builder.go
  tests/basic/gen/som/query/builder.go
  tests/basic/go.mod
Labels: none

fixup
  tests/basic/go.mod
Labels: none

refactor: reduce codegen by making query builder generic (#245)
  README.md
  core/codegen/base.builder.go
  core/codegen/build.query.go
  core/embed/query/builder.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
  tests/basic/gen/som/query/builder.go
  tests/basic/gen/som/query/node.all_field_types.go
  tests/basic/gen/som/query/node.fields_like_db_response.go
  tests/basic/gen/som/query/node.group.go
  tests/basic/gen/som/query/node.url_example.go
Labels: cc | docs

fixup
  core/codegen/base.builder.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
Labels: none

update
  core/embed/som/som.node.go
Labels: none

refactor: move generic crud methods to embed (#246)
  core/codegen/base.builder.go
  core/embed/som/som.node.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
  tests/basic/gen/som/som.node.go
Labels: none

feat: add refresh method to node repos
  core/codegen/base.builder.go
  core/embed/som/som.node.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
  tests/basic/gen/som/som.node.go
Labels: none

feat: implement refresh method for repos (#237)
  core/codegen/base.builder.go
  core/embed/som/som.node.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
  tests/basic/gen/som/som.node.go
  tests/basic/som_base_test.go
Labels: cc | test

feat: add comments to repo methods
  core/codegen/base.builder.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/node.url_example.go
Labels: none

wip: implement query iterator
  core/embed/query/builder.go
  tests/basic/som_base_test.go
Labels: cc | test

wip
  tests/basic/som_base_test.go
  tests/basic/som_prepare_test.go
Labels: cc | test

test: use surrealdb v1.4.2
  README.md
  docker-compose.yml
  tests/basic/som_base_test.go
Labels: cc | docs, cc | test

update
  core/embed/query/query.go
  tests/basic/gen/som/query/query.go
  tests/basic/som_live_test.go
Labels: cc | test

test: use surrealdb v1.4.2 (#253)
  README.md
  core/embed/query/query.go
  docker-compose.yml
  tests/basic/gen/som/query/query.go
  tests/basic/som_base_test.go
  tests/basic/som_live_test.go
Labels: cc | docs, cc | test

build: use sdbc v0.2.0
  go.mod
  go.sum
  go.work.sum
  tests/basic/go.mod
Labels: cc | build

build: use sdbc v0.2.0 (#254)
  go.mod
  go.sum
  go.work.sum
  tests/basic/go.mod
Labels: cc | build

test: live query kill on context cancel
  tests/basic/som_live_test.go
Labels: cc | test

test: live query kill on context cancel (#255)
  tests/basic/som_live_test.go
Labels: cc | test

test: update go version to test against
  .tool-versions
  go.mod
Labels: cc | build

fix
  go.work
Labels: none

test: run against go version 1.22.2 (#257)
  .tool-versions
  go.mod
  go.work
Labels: cc | build

build: update go dependencies
  go.mod
  go.sum
  go.work.sum
Labels: cc | build

wip: filter for live queries
  core/embed/query/builder.go
  tests/basic/gen/som/query/builder.go
  tests/basic/som_live_test.go
Labels: cc | test
