Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

cleanup
  core/codegen/field/field.numeric.go
Labels: none

cleanup
  internal/tests/basic/go.sum
Labels: none

fix: schema generation for deeply nested fields (#382)
  core/codegen/base.builder.go
  core/codegen/field/base.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.id.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
Labels: none

ci: add main workflow for build verification and cache
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
Labels: cc | ci

ci: add main workflow for build verification and cache (#383)
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
Labels: cc | ci

chore: update readme
  README.md
Labels: cc | docs

chore: prepare release v0.10.0
  core/util/gomod/mod.go
  go.mod
Labels: cc | build

update
  go.mod
  go.sum
Labels: cc | build

update
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: none

chore: prepare release v0.10.0 (#384)
  core/util/gomod/mod.go
  go.mod
  go.sum
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: cc | build

feat: use readonly for created_at fields
  core/codegen/field/field.time.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
Labels: none

feat: use readonly for created_at fields (#385)
  core/codegen/field/field.time.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
Labels: none

ci: optimise go caching
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
Labels: cc | ci

ci: optimise go caching (#386)
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
Labels: cc | ci

feat: make all field types sortable
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  internal/tests/basic/gen/som/by/node.all_field_types.go
  internal/tests/basic/gen/som/by/node.url_example.go
Labels: none

update
  core/codegen/field/field.edge.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.struct.go
Labels: none

sort struct
  core/codegen/build.sort.go
  core/codegen/field/field.struct.go
  internal/tests/basic/gen/som/by/node.all_field_types.go
  internal/tests/basic/gen/som/by/object.group_member_meta.go
  internal/tests/basic/gen/som/by/object.login.go
  internal/tests/basic/gen/som/by/object.some_struct.go
Labels: none

add tests
  internal/tests/basic/som_base_test.go
Labels: cc | test

feat: make most field types sortable (#387)
  core/codegen/build.sort.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  internal/tests/basic/gen/som/by/node.all_field_types.go
  internal/tests/basic/gen/som/by/node.url_example.go
  internal/tests/basic/gen/som/by/object.group_member_meta.go
  internal/tests/basic/gen/som/by/object.login.go
  internal/tests/basic/gen/som/by/object.some_struct.go
  internal/tests/basic/som_base_test.go
Labels: cc | test

update
  core/codegen/field/convert.go
  core/codegen/field/field.password.go
  core/embed/som/internal/lib/filter.password.tmpl
  core/embed/som/internal/lib/filter.password_.go
  core/parser/field.go
  core/parser/parse.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/internal/lib/filter.password.go
  internal/tests/basic/gen/som/internal/lib/filter.password_.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/gen/som/where/node.all_field_types.go
Labels: none

update
  core/codegen/field/field.password.go
  core/embed/som/internal/lib/filter.password.tmpl
  core/embed/som/internal/lib/filter.password_.go
  core/embed/som/som.base.tmpl
  core/parser/field.go
  core/parser/parse.go
  internal/tests/basic/gen/som/internal/lib/filter.password.go
  internal/tests/basic/gen/som/internal/lib/filter.password_.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/gen/som/som.base.go
  internal/tests/basic/gen/som/where/node.all_field_types.go
  internal/tests/basic/model/node.all_field_types.go
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_filter_internal_test.go
Labels: cc | test

update
  core/embed/som/som.base.tmpl
  internal/tests/basic/gen/som/som.base.go
Labels: none

update
  core/codegen/field/field.password.go
  core/embed/som/internal/lib/filter.password.tmpl
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/object.login.go
  internal/tests/basic/gen/som/internal/lib/filter.password.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/gen/som/where/node.all_field_types.go
  internal/tests/basic/gen/som/where/object.login.go
  internal/tests/basic/model/node.all_field_types.go
  internal/tests/basic/som_base_test.go
  internal/tests/basic/som_filter_internal_test.go
Labels: cc | test

update
  core/codegen/base.builder.go
  core/codegen/build.query.go
  core/codegen/field/base.go
  core/codegen/field/field.password.go
  core/embed/som/internal/lib/builder.query.go
  core/embed/som/repo/som.client.go
  core/embed/som/repo/som.node.go
  go.sum
  internal/tests/basic/gen/som/conv/object.login.go
  internal/tests/basic/gen/som/internal/lib/builder.query.go
  internal/tests/basic/gen/som/query/node.all_field_types.go
  internal/tests/basic/gen/som/query/node.fields_like_db_response.go
  internal/tests/basic/gen/som/query/node.group.go
  internal/tests/basic/gen/som/query/node.url_example.go
  internal/tests/basic/gen/som/repo/node.all_field_types.go
  internal/tests/basic/gen/som/repo/node.fields_like_db_response.go
  internal/tests/basic/gen/som/repo/node.group.go
  internal/tests/basic/gen/som/repo/node.url_example.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/gen/som/repo/som.client.go
  internal/tests/basic/gen/som/repo/som.node.go
  internal/tests/basic/som_base_test.go
Labels: cc | build, cc | test

update
  internal/tests/basic/som_prepare_test.go
Labels: cc | test

update
  README.md
Labels: cc | docs

update
  core/codegen/base.builder.go
  core/codegen/field/field.password.go
  internal/tests/basic/gen/som/by/object.login.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
Labels: none

.github/labeler.yml:

# Labeler Config

cc | build:
  - changed-files:
    - any-glob-to-any-file:
      - go.mod
      - go.sum

cc | ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*

cc | docs:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - docs/**/*

cc | test:
  - changed-files:
    - any-glob-to-any-file:
      - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
