Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

update
  core/codegen/build.define.go
  core/embed/_embed/conv/conv.go
  core/embed/_embed/define/define.go
  core/embed/_embed/fetch/fetch.go
  core/embed/_embed/lib/builder.query.go
  core/embed/_embed/lib/builder.sort.go
  core/embed/_embed/lib/filter.go
  core/embed/_embed/lib/key.go
  core/embed/_embed/lib/sort.go
  core/embed/_embed/query/builder.go
  core/embed/_embed/query/query.go
  core/embed/_embed/relate/relate.go
  core/embed/_embed/som/som.client.go
  core/embed/_embed/som/som.database.go
  core/embed/_embed/som/som.define.go
  core/embed/_embed/som/som.functions.go
  core/embed/_embed/som/som.node.go
  core/embed/_embed/som/som.options.go
  core/embed/_embed/sort/sort.go
  core/embed/embed.go
  go.work.sum
  tests/basic/gen/som/define/node.url_example.go
  tests/basic/gen/som/som.define.go
Labels: none

cleanup
  go.mod
  go.sum
  go.work.sum
  tests/basic/define.go
  tests/basic/go.mod
  tests/basic/go.sum
Labels: cc | build

chore: activate renovate dashboard
  .github/renovate.json
Labels: cc | ci

chore: activate renovate dashboard (#269)
  .github/renovate.json
Labels: cc | ci

Update tests/.tool-versions
  tests/.tool-versions
Labels: none

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style
