Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style

fix tests
  examples/basic/som_test.go
  examples/movie/som_test.go
Labels: cc | test

update
  core/codegen/base.builder.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/som_test.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/movie/som_test.go
  go.mod
  go.sum
Labels: cc | build, cc | test

docs: small updates
  .gitattributes
  .tool-versions
  README.md
Labels: cc | docs

update
  examples/basic/model/interface.go
  som.go
Labels: none

feat: make som 'invisible' by copying lib files into generated sources
  core/codegen/base.builder.go
  core/codegen/build.conv.go
  core/codegen/build.filter.go
  core/codegen/build.query.go
  core/codegen/build.sort.go
  core/codegen/def/def.go
  core/codegen/field/context.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.id.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.uuid.go
  core/embed/embed.go
  core/embed/lib/builder.query.go
  core/embed/lib/builder.sort.go
  core/embed/lib/filter.go
  core/embed/lib/key.go
  core/embed/lib/sort.go
  go.sum
Labels: cc | build

regenerated code
  examples/basic/gen/som/by/node.group.go
  examples/basic/gen/som/by/node.user.go
  examples/basic/gen/som/internal/lib/builder.query.go
  examples/basic/gen/som/internal/lib/builder.sort.go
  examples/basic/gen/som/internal/lib/filter.go
  examples/basic/gen/som/internal/lib/key.go
  examples/basic/gen/som/internal/lib/sort.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/where/edge.group_member.go
  examples/basic/gen/som/where/node.group.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/gen/som/where/object.group_member_meta.go
  examples/basic/gen/som/where/object.login.go
  examples/basic/gen/som/where/object.some_struct.go
  examples/basic/gen/som/where/where.go
  examples/movie/gen/som/by/node.movie.go
  examples/movie/gen/som/by/node.person.go
  examples/movie/gen/som/internal/lib/builder.query.go
  examples/movie/gen/som/internal/lib/builder.sort.go
  examples/movie/gen/som/internal/lib/filter.go
  examples/movie/gen/som/internal/lib/key.go
  examples/movie/gen/som/internal/lib/sort.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/where/edge.acted_in.go
  examples/movie/gen/som/where/edge.directed.go
  examples/movie/gen/som/where/node.movie.go
  examples/movie/gen/som/where/node.person.go
  examples/movie/gen/som/where/where.go
Labels: none

add codegen comment to lib files
  core/codegen/base.builder.go
  examples/basic/gen/som/internal/lib/builder.query.go
  examples/basic/gen/som/internal/lib/builder.sort.go
  examples/basic/gen/som/internal/lib/filter.go
  examples/basic/gen/som/internal/lib/key.go
  examples/basic/gen/som/internal/lib/sort.go
  examples/movie/gen/som/internal/lib/builder.query.go
  examples/movie/gen/som/internal/lib/builder.sort.go
  examples/movie/gen/som/internal/lib/filter.go
  examples/movie/gen/som/internal/lib/key.go
  examples/movie/gen/som/internal/lib/sort.go
Labels: none

feat: add support for byte and []byte
  core/codegen/field/convert.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.slice.go
  core/parser/field.go
  core/parser/parse.go
  examples/basic/gen/som/conv/node.user.go
  examples/basic/gen/som/som.schema.go
  examples/basic/gen/som/where/node.user.go
  examples/basic/model/user.go
  examples/basic/repo/user.go
Labels: none

docs: update readme & faq
  FAQ.md
  README.md
  docs/ideas.md
  go.work.sum
Labels: cc | docs

Apply dependency sync
  go.work.sum
Labels: none

update
  README.md
Labels: cc | docs

docs: update readme & faq (#124)
  FAQ.md
  README.md
  docs/ideas.md
  go.work.sum
Labels: cc | docs

feat: update codegen for new client version
  README.md
  core/codegen/base.builder.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/go.sum
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
Labels: cc | docs

update
  core/codegen/base.builder.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
Labels: none

update
  core/codegen/build.query.go
  core/codegen/build.relate.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/relate/edge.group_member.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/relate/edge.acted_in.go
  examples/movie/gen/som/relate/edge.directed.go
Labels: none

feat: utilize new features of surrealdb.go client update v0.2.0 (#125)
  README.md
  core/codegen/base.builder.go
  core/codegen/build.query.go
  core/codegen/build.relate.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/relate/edge.group_member.go
  examples/basic/go.sum
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/relate/edge.acted_in.go
  examples/movie/gen/som/relate/edge.directed.go
Labels: cc | docs

update surrealdb beta 9
  docker-compose.yml
  docs/ideas.md
  examples/basic/go.mod
  examples/basic/go.sum
  examples/basic/som_test.go
  examples/movie/som_test.go
  go.mod
  go.sum
Labels: cc | build, cc | docs, cc | test

feat: update for surrealdb version beta.9 (#129)
  docker-compose.yml
  docs/ideas.md
  examples/basic/go.mod
  examples/basic/go.sum
  examples/basic/som_test.go
  examples/movie/som_test.go
  go.mod
  go.sum
Labels: cc | build, cc | docs, cc | test

fix: count query and result mapping
  core/codegen/build.query.go
  core/embed/lib/builder.query.go
  docker-compose.yml
  examples/basic/gen/som/internal/lib/builder.query.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/query_test.go
  examples/basic/som_test.go
  examples/movie/gen/som/internal/lib/builder.query.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
Labels: cc | test

fix: count query and result mapping (#130)
  core/codegen/build.query.go
  core/embed/lib/builder.query.go
  docker-compose.yml
  examples/basic/gen/som/internal/lib/builder.query.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/query_test.go
  examples/basic/som_test.go
  examples/movie/gen/som/internal/lib/builder.query.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
Labels: cc | test

fix: unexpected db response structure for unmarshal
  Taskfile.yml
  core/codegen/base.builder.go
  core/codegen/build.query.go
  examples/basic/gen/som/query/node.user.go
  examples/basic/gen/som/som.functions.go
  examples/basic/som_test.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/som.functions.go
  examples/testing/gen.go
  examples/testing/gen/som/by/node.fields_like_db_response.go
  examples/testing/gen/som/by/sort.go
  examples/testing/gen/som/conv/conv.go
  examples/testing/gen/som/conv/node.fields_like_db_response.go
  examples/testing/gen/som/internal/lib/builder.query.go
  examples/testing/gen/som/internal/lib/builder.sort.go
  examples/testing/gen/som/internal/lib/filter.go
  examples/testing/gen/som/internal/lib/key.go
  examples/testing/gen/som/internal/lib/sort.go
  examples/testing/gen/som/node.fields_like_db_response.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
  examples/testing/gen/som/query/query.go
  examples/testing/gen/som/relate/node.fields_like_db_response.go
  examples/testing/gen/som/relate/relate.go
  examples/testing/gen/som/som.client.go
  examples/testing/gen/som/som.database.go
  examples/testing/gen/som/som.functions.go
  examples/testing/gen/som/som.interfaces.go
  examples/testing/gen/som/som.schema.go
  examples/testing/gen/som/where/node.fields_like_db_response.go
  examples/testing/gen/som/where/where.go
  examples/testing/gen/som/with/fetch.go
  examples/testing/gen/som/with/node.fields_like_db_response.go
  examples/testing/model/fields_like_db_response.go
  examples/testing/som_test.go
Labels: cc | test

update
  core/codegen/base.builder.go
  core/codegen/build.query.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/query/node.user.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/testing/gen/som/node.fields_like_db_response.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
  examples/testing/gen/som/som.functions.go
  examples/testing/som_test.go
Labels: cc | test

Apply dependency sync
  go.work.sum
Labels: none

build: update surrealdb.go client
  go.mod
  go.sum
Labels: cc | build

Apply dependency sync
  go.work.sum
Labels: none

fixup
  cmd/somgen/sub/surreal.go
  core/codegen/base.builder.go
  examples/basic/gen/som/som.client.go
  examples/movie/gen/som/som.client.go
  go.mod
  go.sum
  go.work.sum
Labels: cc | build

linter changes
  go.work.sum
Labels: none

Apply dependency sync
  go.work.sum
Labels: none

build: update surrealdb.go client (#141)
  cmd/somgen/sub/surreal.go
  core/codegen/base.builder.go
  examples/basic/gen/som/som.client.go
  examples/movie/gen/som/som.client.go
  go.mod
  go.sum
  go.work.sum
Labels: cc | build

fixup
  core/codegen/base.builder.go
  examples/basic/gen/som/som.client.go
  examples/movie/gen/som/som.client.go
  examples/testing/gen/som/som.client.go
Labels: none

fix: unexpected db response structure for unmarshal (#131)
  Taskfile.yml
  core/codegen/base.builder.go
  core/codegen/build.query.go
  examples/basic/gen/som/node.group.go
  examples/basic/gen/som/node.user.go
  examples/basic/gen/som/query/node.group.go
  examples/basic/gen/som/som.functions.go
  examples/basic/som_test.go
  examples/movie/gen/som/node.movie.go
  examples/movie/gen/som/node.person.go
  examples/movie/gen/som/query/node.movie.go
  examples/movie/gen/som/query/node.person.go
  examples/movie/gen/som/som.client.go
  examples/movie/gen/som/som.functions.go
  examples/testing/gen.go
  examples/testing/gen/som/by/node.fields_like_db_response.go
  examples/testing/gen/som/by/sort.go
  examples/testing/gen/som/conv/conv.go
  examples/testing/gen/som/conv/node.fields_like_db_response.go
  examples/testing/gen/som/internal/lib/builder.query.go
  examples/testing/gen/som/internal/lib/builder.sort.go
  examples/testing/gen/som/internal/lib/filter.go
  examples/testing/gen/som/internal/lib/key.go
  examples/testing/gen/som/internal/lib/sort.go
  examples/testing/gen/som/node.fields_like_db_response.go
  examples/testing/gen/som/query/node.fields_like_db_response.go
  examples/testing/gen/som/query/query.go
  examples/testing/gen/som/relate/node.fields_like_db_response.go
  examples/testing/gen/som/relate/relate.go
  examples/testing/gen/som/som.client.go
  examples/testing/gen/som/som.database.go
  examples/testing/gen/som/som.functions.go
  examples/testing/gen/som/som.interfaces.go
  examples/testing/gen/som/som.schema.go
  examples/testing/gen/som/where/node.fields_like_db_response.go
  examples/testing/gen/som/where/where.go
  examples/testing/gen/som/with/fetch.go
  examples/testing/gen/som/with/node.fields_like_db_response.go
  examples/testing/model/fields_like_db_response.go
  examples/testing/som_test.go
Labels: cc | test

wip
  Taskfile.yml
  cmd/somgen/main.go
  cmd/somgen/sub/surreal.go
  cmd/somgen/sub/test.go
  core/api/api.go
  docker-compose.yml
  docs/ideas.md
  examples/basic/som_test.go
  go.mod
  go.sum
  go.work.sum
Labels: cc | build, cc | docs, cc | test

build: update go to 1.12rc3
  .tool-versions
  examples/basic/go.mod
  examples/movie/go.mod
Labels: none

fixup workflows
  .github/workflows/pull_request.yml
Labels: cc | ci

fixup workflows
  .github/workflows/pull_request.yml
Labels: cc | ci

fixup workflows
  .github/workflows/pull_request.yml
Labels: cc | ci

ci: allow empty body for conventional commits workflow
  .github/workflows/conventional_commits.yml
Labels: cc | ci

ci: allow empty body for conventional commits workflow (#148)
  .github/workflows/conventional_commits.yml
Labels: cc | ci

build: update go to 1.21rc3 (#147)
  .github/workflows/pull_request.yml
  .tool-versions
  examples/basic/go.mod
  examples/movie/go.mod
Labels: cc | ci

Apply golangci-lint auto-fix changes
  go.work.sum
Labels: none
