Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

.github/labeler.yml:

# Labeler Config

cc | build:
  - changed-files:
    - any-glob-to-any-file:
      - go.mod
      - go.sum

cc | ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*

cc | docs:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - docs/**/*

cc | test:
  - changed-files:
    - any-glob-to-any-file:
      - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style

cleanup
  .github/workflows/pull_request.yml
Labels: cc | ci

chore: switch from asdf to mise (#372)
  .github/workflows/pull_request.yml
  .tool-versions
  mise.toml
Labels: cc | ci

cleanup
  core/codegen/base.builder.go
  core/codegen/build.cbor_helpers.go
  core/embed/som/internal/cbor/helpers.go
Labels: none

update
  core/codegen/build.conv.go
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/node.url_example.go
  internal/tests/basic/gen/som/conv/object.group_member_meta.go
  internal/tests/basic/gen/som/conv/object.login.go
  internal/tests/basic/gen/som/conv/object.some_struct.go
Labels: none

cleanup
  core/codegen/build.conv.go
  core/embed/som/repo/som.functions.go
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/node.url_example.go
  internal/tests/basic/gen/som/conv/object.group_member_meta.go
  internal/tests/basic/gen/som/conv/object.login.go
  internal/tests/basic/gen/som/conv/object.some_struct.go
  internal/tests/basic/gen/som/repo/som.functions.go
Labels: none

Apply dependency sync
  go.work.sum
Labels: none

test(fix): live query race condition
  internal/tests/basic/som_live_test.go
Labels: cc | test

optimisations
  .envrc
  core/codegen/build.conv.go
  core/embed/som/internal/cbor/cbor.go
  core/embed/som/internal/cbor/helpers.go
  core/embed/som/internal/types/datetime.tmpl
  core/embed/som/internal/types/duration.tmpl
  core/embed/som/internal/types/uuid.tmpl
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/node.url_example.go
  internal/tests/basic/gen/som/conv/object.group_member_meta.go
  internal/tests/basic/gen/som/conv/object.login.go
  internal/tests/basic/gen/som/conv/object.some_struct.go
  internal/tests/basic/gen/som/internal/cbor/cbor.go
  internal/tests/basic/gen/som/internal/cbor/helpers.go
  internal/tests/basic/gen/som/internal/types/datetime.go
  internal/tests/basic/gen/som/internal/types/duration.go
  internal/tests/basic/gen/som/internal/types/uuid.go
  internal/tests/basic/som_cbor_bench_test.go
Labels: cc | test

test(fix): live query race condition (#377)
  internal/tests/basic/som_live_test.go
Labels: cc | test

ci: optimise pull request workflow
  .github/workflows/pull_request.yml
Labels: cc | ci

fixup
  .github/workflows/pull_request.yml
Labels: cc | ci

test: mise setup
  internal/tests/.envrc
  internal/tests/.tool-versions
  internal/tests/basic/.tool-versions
  internal/tests/mise.toml
Labels: none

test: mise setup (#379)
  internal/tests/.envrc
  internal/tests/.tool-versions
  internal/tests/basic/.tool-versions
  internal/tests/mise.toml
Labels: none

update
  .github/workflows/pull_request.yml
Labels: cc | ci

update
  internal/tests/basic/go.mod
Labels: none

update
  .github/workflows/pull_request.yml
Labels: cc | ci

update
  go.mod
  go.work
  mise.toml
Labels: cc | build

update
  go.work
Labels: none

update
  .github/workflows/pull_request.yml
Labels: cc | ci

update
  .github/workflows/pull_request.yml
Labels: cc | ci

fixup
  go.work
  go.work.sum
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: none

update
  internal/tests/basic/go.mod
Labels: none

update
  .github/workflows/pull_request.yml
  internal/tests/basic/go.mod
  internal/tests/basic/mise.toml
  mise.toml
Labels: cc | ci

fix
  internal/tests/basic/go.mod
Labels: none

update
  go.mod
  internal/tests/basic/go.mod
  internal/tests/basic/mise.toml
  mise.toml
Labels: cc | build

cleanup
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: none

cleanup
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: none

ci: optimise pull request workflow (#378)
  .github/workflows/pull_request.yml
  go.mod
  go.work
  go.work.sum
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
  internal/tests/mise.toml
  mise.toml
Labels: cc | build, cc | ci

cleanup
  core/util/gomod/mod.go
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: none

cleanup
  internal/tests/basic/go.mod
  internal/tests/basic/go.sum
Labels: none

refactoring
  core/codegen/build.conv.go
  core/codegen/field/context.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  core/embed/som/internal/timestamps.go
  core/embed/som/som.base.tmpl
  core/parser/parse.go
  internal/tests/basic/gen/som/conv/edge.group_member.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/conv/node.fields_like_db_response.go
  internal/tests/basic/gen/som/conv/node.group.go
  internal/tests/basic/gen/som/conv/node.url_example.go
  internal/tests/basic/gen/som/conv/object.group_member_meta.go
  internal/tests/basic/gen/som/conv/object.login.go
  internal/tests/basic/gen/som/conv/object.some_struct.go
  internal/tests/basic/gen/som/internal/timestamps.go
  internal/tests/basic/gen/som/som.base.go
Labels: none

cleanup
  core/codegen/field/context.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
Labels: none

refactor: cleanup legacy conv methods
  core/codegen/field/codegen.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.id.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  core/codegen/field/util.go
Labels: none

refactor: cleanup legacy conv methods (#381)
  core/codegen/field/codegen.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.id.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  core/codegen/field/util.go
Labels: none

cleanup
  core/codegen/field/field.slice.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
Labels: none

extend slice test
  internal/tests/basic/som_base_test.go
Labels: cc | test

feat(slice): empty filter, schema and marshal fixup, testing (#373)
  core/codegen/base.builder.go
  core/codegen/field/field.slice.go
  core/embed/som/internal/lib/filter.slice.go
  core/embed/som/repo/som.client.go
  internal/tests/basic/gen/som/conv/node.all_field_types.go
  internal/tests/basic/gen/som/internal/lib/filter.slice.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/gen/som/repo/som.client.go
  internal/tests/basic/som_base_test.go
Labels: cc | test

fix: schema generation for deeply nested fields
  core/codegen/base.builder.go
  core/codegen/field/base.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.id.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
Labels: none

update
  core/codegen/base.builder.go
  core/codegen/field/base.go
  core/codegen/field/field.bool.go
  core/codegen/field/field.byte.go
  core/codegen/field/field.duration.go
  core/codegen/field/field.edge.go
  core/codegen/field/field.enum.go
  core/codegen/field/field.id.go
  core/codegen/field/field.node.go
  core/codegen/field/field.numeric.go
  core/codegen/field/field.slice.go
  core/codegen/field/field.string.go
  core/codegen/field/field.struct.go
  core/codegen/field/field.time.go
  core/codegen/field/field.url.go
  core/codegen/field/field.uuid.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
Labels: none

fixup
  core/codegen/field/field.id.go
  core/codegen/field/field.slice.go
  internal/tests/basic/gen/som/repo/schema/tables.surql
  internal/tests/basic/go.sum
Labels: none
