Repository go-surreal/som, changes with the labels that .github/labeler.yml gives for each.
All labels: cc | build, cc | ci, cc | docs, cc | test

.github/labeler.yml:

# Labeler Config

cc | build:
  - go.mod
  - go.sum

cc | ci:
  - .github/**/*

cc | docs:
  - README.md
  - docs/**/*

cc | test:
  - ./**/*_test.go

# chore | feat | fix | perf | refactor | revert | style

ci: add custom codeql workflow (#218)
  .github/workflows/codeql.yml
Labels: cc | ci

ci: add code coverage analysis
  .github/workflows/pull_request.yml
  .github/workflows/tests_codecov.yml
  README.md
Labels: cc | ci, cc | docs

update
  .github/workflows/pull_request.yml
  .github/workflows/tests_codecov.yml
  README.md
Labels: cc | ci, cc | docs

wip
  docs/content/about.md
  docs/content/development/contribute.md
  docs/content/development/index.md
  docs/content/development/roadmap.md
  docs/content/features.md
  docs/content/getting-started/concepts.md
  docs/content/getting-started/features.md
  docs/content/getting-started/index.md
  docs/content/getting-started/installation.md
  docs/content/index.md
  docs/content/other/about.md
  docs/content/other/faq.md
  docs/content/overview.md
  docs/content/usage/crud.md
  docs/content/usage/data-types.md
  docs/content/usage/generation.md
  docs/content/usage/index.md
  docs/content/usage/models.md
  docs/content/usage/queries.md
  docs/content/usage/relations.md
  docs/mkdocs.yml
  docs_old/ideas.md
  docs_old/index.md
  docs_old/models.md
  docs_old/queries.md
Labels: cc | docs

wip
  docs/theme/base.html
  docs/theme/content.html
  docs/theme/css/fonts/fontawesome/FontAwesome.otf
  docs/theme/css/fonts/fontawesome/fontawesome-webfont.eot
  docs/theme/css/fonts/fontawesome/fontawesome-webfont.svg
  docs/theme/css/fonts/fontawesome/fontawesome-webfont.ttf
  docs/theme/css/fonts/fontawesome/fontawesome-webfont.woff
  docs/theme/css/fonts/fontawesome/fontawesome-webfont.woff2
  docs/theme/css/style.min.css
  docs/theme/images/apple-touch-icon-precomposed-152.png
  docs/theme/images/favicon.ico
  docs/theme/js/gitbook.min.js
  docs/theme/js/main.js
  docs/theme/js/theme.min.js
  docs/theme/main.html
  docs/theme/nav-sub.html
  docs/theme/nav.html
Labels: cc | docs

update
  core/codegen/field/field.numeric.go
  core/embed/conv/conv.go
  core/parser/field.go
  core/parser/parse.go
  go.work.sum
  tests/basic/gen/som/by/node.all_field_types.go
  tests/basic/gen/som/conv/conv.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/som.client.go
  tests/basic/gen/som/som.schema.go
  tests/basic/gen/som/where/node.all_field_types.go
  tests/basic/go.mod
  tests/basic/model/all_field_types.go
  tests/basic/som_base_test.go
Labels: cc | test

update test
  tests/basic/som_base_test.go
Labels: cc | test

wip
  buildtime/buildtime.go
  buildtime/compile_time.txt
  buildtime/get_version.sh
  buildtime/version.txt
  cmd/somgen/gen/cmd.go
  cmd/somgen/main.go
  cmd/somgen/sub/surreal.go
Labels: none

wip
  README.md
Labels: cc | docs

wip
  core/codegen/base.builder.go
  core/embed/som/som.node.go
  tests/basic/gen/som/node.all_field_types.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/node.group.go
  tests/basic/gen/som/som.node.go
Labels: none

impl: client options
  core/embed/som/som.client.go
  core/embed/som/som.options.go
  tests/basic/gen/som/som.client.go
  tests/basic/gen/som/som.options.go
  tests/basic/som_base_test.go
  tests/basic/som_prepare_test.go
Labels: cc | test

update
  core/embed/som/som.client.go
  core/embed/som/som.options.go
  tests/basic/gen/som/som.client.go
  tests/basic/gen/som/som.options.go
Labels: none

feat: add client options and pass to sdbc (#222)
  core/embed/som/som.client.go
  core/embed/som/som.options.go
  tests/basic/gen/som/som.client.go
  tests/basic/gen/som/som.options.go
  tests/basic/som_base_test.go
  tests/basic/som_prepare_test.go
Labels: cc | test

update
  .gitignore
  buildtime/compile_time.txt
  buildtime/version.txt
Labels: none

fix: nil pointer upon timestamps deref
  core/codegen/field/field.time.go
  som.go
Labels: none

codegen
  tests/basic/gen/som/conv/edge.group_member.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/conv/node.group.go
Labels: none

fix: timestamps zero value deref nil pointer (#227)
  core/codegen/field/field.time.go
  som.go
  tests/basic/gen/som/conv/edge.group_member.go
  tests/basic/gen/som/conv/node.all_field_types.go
  tests/basic/gen/som/conv/node.group.go
Labels: none

build: update go to 1.21.3
  .tool-versions
Labels: none

build: update go to 1.21.3 (#228)
  .tool-versions
Labels: none

build: update go dependencies
  go.mod
  go.sum
Labels: cc | build

wip
  examples/basic/gen/som/query/node.user.go
  examples/fulltext/som_test.go
  examples/movie/som_test.go
Labels: cc | test

wip
  tests/basic/som_count_test.go
Labels: cc | test

build: update go dependencies
  go.mod
  go.sum
Labels: cc | build

update
  go.mod
  go.sum
  go.work.sum
  tests/basic/go.mod
  tests/basic/go.sum
Labels: cc | build

fixup
  .github/workflows/pull_request.yml
  go.work.sum
Labels: cc | ci

build: update go packages (#235)
  .github/workflows/pull_request.yml
  go.mod
  go.sum
  go.work.sum
  tests/basic/go.mod
  tests/basic/go.sum
Labels: cc | build, cc | ci

ci: update golangci-lint to v1.55.2
  .tool-versions
Labels: none

wip
  tests/basic/som_base_test.go
Labels: cc | test

ci: update golangci-lint to v1.55.2 (#236)
  .tool-versions
Labels: none

fix: generated names for types & fields
  core/codegen/field/base.go
  core/codegen/field/db.object_test.go
  core/codegen/field/field.edge.go
  core/codegen/field/table.node.go
Labels: cc | test

fix: nil deref due to invalid use of anonymous struct field type
  core/codegen/field/convert.go
Labels: none

fix: nil deref due to invalid use of anonymous struct field type (#239)
  core/codegen/field/convert.go
Labels: none

fix: remove duplicate of generated code
  core/codegen/build.filter.go
Labels: none

fix: edge field conversion
  core/codegen/field/field.edge.go
Labels: none

lint & tests
  core/codegen/field/field.edge.go
  core/codegen/field/table.node_test.go
  tests/basic/gen/som/by/node.fields_like_db_response.go
  tests/basic/gen/som/conv/node.fields_like_db_response.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/where/node.fields_like_db_response.go
  tests/basic/gen/som/with/node.fields_like_db_response.go
Labels: cc | test

fix: edge field conversion (#241)
  core/codegen/field/field.edge.go
Labels: none

fix: remove duplicates from generated code (#240)
  core/codegen/build.filter.go
Labels: none

fix: generated names for types & fields (#238)
  core/codegen/field/base.go
  core/codegen/field/db.object_test.go
  core/codegen/field/field.edge.go
  core/codegen/field/table.node.go
  core/codegen/field/table.node_test.go
  tests/basic/gen/som/by/node.fields_like_db_response.go
  tests/basic/gen/som/conv/node.fields_like_db_response.go
  tests/basic/gen/som/node.fields_like_db_response.go
  tests/basic/gen/som/where/node.fields_like_db_response.go
  tests/basic/gen/som/with/node.fields_like_db_response.go
Labels: cc | test

fix: generated filters missing methods for edges
  core/codegen/build.filter.go
  core/codegen/field/field.edge.go
Labels: none

fix: generated filters missing methods for edges (#243)
  core/codegen/build.filter.go
  core/codegen/field/field.edge.go
Labels: none
